.header {
  grid-area: header;
  z-index: 100;
  &__mobile {
    display: none;
    background-color: $gray-light-color;
    &-content {
      min-height: 50px;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__laptop {
    display: none;
    background-color: $gray-light-color;

    &-content {
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-nav {
      flex: 1;
      &-list {
        justify-content: flex-start;
      }

      &-item {
        &:not(:last-child) {
          margin-right: 65px;
        }
      }
    }
  }

  &__top {
    background-color: $gray-light-color;

    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      min-height: 50px;
    }

    &-select {
      &-wrap {
        margin-right: 28px;
      }
      &-lable {
        padding-right: 5px;
      }
    }

    &-nav {
      flex: 1;
      &-list {
        flex-wrap: wrap;
        justify-content: end;
      }

      &-item {
        &:not(:last-child) {
          margin-right: 65px;
        }
      }
      &-link {
        &:nth-last-child(4n) {
          padding-right: 0;
          background-color: red;
        }
      }
    }
  }

  &__middle {
    position: relative;

    &-content {
      min-height: 91px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-logo {
      margin-right: 64px;
    }

    &-nav {
      max-width: 952px;
      width: 100%;
      &-list {
        justify-content: space-between;
        width: 100%;
      }
    }

    &-menu,
    &-burger {
      display: none;
    }
  }

  &__bottom {
    &-content {
      display: flex;
      justify-content: space-between;
    }

    &-search {
      max-width: 1061px;
      &-input {
        padding: 17px 68px 17px 58px;
      }
    }

    &-category {
      flex: 1;
      max-width: 300px;
      &-btn {
        min-height: 60px;
        padding: 0 31px;
        border-radius: 0 10px 10px 0;
      }

      &-content {
        padding: 22px 30px;
      }
    }

    &-menu {
      margin-left: 20px;
    }

    &-nav {
      &-list {
        flex-wrap: wrap;
      }
      &-item {
        margin-bottom: 11px;
        width: 50%;
      }
    }
  }
}
