// phones, 992px and down
@media (max-width: $table-width) {
  .header {
    &__laptop {
      display: block;
      &-menu {
        display: none;
      }
      &-nav {
        flex: 1;
        &-list {
          justify-content: space-between;
        }

        &-item {
          &:not(:last-child) {
            margin-right: 0;
          }
        }

        &-burger {
          display: none;
        }
      }
    }

    &__top {
      background-color: $white-color;
      &-nav {
        display: none;
      }
      &-content {
        min-height: 58px;
      }
    }

    &__middle {
      &-logo {
        margin-right: 0;
      }

      &-nav {
        display: none;
        &-list {
          padding-top: 92px;
          justify-content: start;
          max-width: 288px;
          flex-wrap: wrap;
        }

        &-item {
          width: 50%;
          padding-bottom: 40px;
        }
      }

      &-burger-content {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        background: $white-color calc(100% - 72px) calc(100% - 60px) url("@img/elephant.png") no-repeat;
      }

      &-menu,
      &-burger {
        display: flex;
      }
    }
    &__bottom {
      &-menu {
        display: none;
      }

      &-category {
        max-width: 189px;
        &-content {
          padding: 22px 6px;
        }
      }
    }
  }
}
