// phones, 1200 and down
@media (max-width: $desktop-width) {
  .header {
    &__top {
      background-color: $white-color;
      &-content {
        min-height: 58px;
      }
      &-nav {
        display: none;
      }
    }
    &__laptop {
      display: block;
    }
    &__bottom {
      &-search {
        max-width: none;
      }
      &-menu {
        display: none;
      }
    }
  }
}
