// phones, 600px and down
@media (max-width: $sm-table-width) {
  .header {
    &__mobile {
      display: block;
    }

    &__laptop {
      display: none;
      &-nav {
        &-list {
          padding: 24px 0 12px;
          flex-wrap: wrap;
        }
        &-item {
          width: 50%;
          padding-bottom: 12px;
        }
        &-burger {
          display: block;
        }
      }
    }

    &__top {
      &-content {
        min-height: 93px;
      }
    }

    &__middle {
      border-top: 1px solid $gray-light-color;
      border-bottom: 1px solid $gray-light-color;
      &-content {
        min-height: 48px;
      }
      &-logo {
        display: none;
      }
      &-burger {
        &-btn {
          width: 32px;
        }
        &-content {
          border-top: none;
          background: $white-color;
        }
        &-mobile-container {
          background-color: $gray-light-color;
        }
      }
      &-nav {
        &-list {
          padding-top: 60px;
          flex-direction: column;
        }
      }
    }
    &__bottom {
      min-height: 136px;
      padding: 16px 0;

      &-search {
        flex-direction: column;
        &-input {
          border-radius: 10px;
          margin-bottom: 15px;
        }
      }

      &-category {
        max-width: none;
        &-btn {
          border-radius: 10px;
          max-width: none;
          min-height: 60px;
        }
       
        &-content {
          padding: 22px 30px;
        }
      }
    }
  }
}
