// UTILS
@import './utils/reset.scss';
@import './utils/libs.scss';
@import './utils/fonts.scss';
@import './utils/vars.scss';
@import './utils/mixins.scss';

body {
  margin: 0;
  font-size: $main-font-size;
  font-family: $main-font ;
  color: $main-color;
  font-style: normal;
  font-weight: $main-font-weight;
  background-color: $white-color;
  line-height: $main-line-height;
  min-width: 320px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "header header header header"
  "main main main main"
  "footer footer footer footer";
}

.main {
  grid-area: main;
}

@import './modules/link.scss';
@import './modules/menu.scss';
@import './modules/button.scss';
@import './modules/card/card.scss';
@import './modules/card/discount.scss';
@import './modules/card/rating.scss';
@import './modules/checkbox.scss';
@import './modules/tooltip.scss';
@import './modules/input.scss';
@import './modules/toggle.scss';
@import './modules/img.scss';
@import './modules/list.scss';
@import './modules/title.scss';
@import './modules/text.scss';
@import './modules/nav/nav.scss';
@import './modules/section/section.scss';

// SECTIONS
@import './sections/header/header.scss';
@import './sections/breadcrumbs/breadcrumbs.scss';
@import './sections/hero/hero.scss';
@import './sections/special-offer/special-offer.scss';
@import './sections/high-rating/high-rating.scss';
@import './sections/banner/banner.scss';
@import './sections/top-category/top-category.scss';
@import './sections/useful/useful.scss';
@import './sections/feedback/feedback.scss';
@import './sections/catalog/catalog.scss';
@import './sections/product-card/product-card.scss';
@import './sections/similar/similar.scss';

@import './sections/footer/footer.scss';

@import './modules/container/container.scss';

@import './modules/modal.scss';

@import './modules/select.scss';
@import './modules/burger.scss';
@import './modules/search.scss';
@import './modules/icon.scss';

// MEDIA
@import './media.scss';
