mixin checkbox(value, valueClass, classTheme, isChecked)
  label.checkbox(class= classTheme)
    if isChecked
      input.checkbox__input(type='checkbox' checked='checked')
    else
      input.checkbox__input(type='checkbox')
    span.checkbox__text(class= valueClass)= value
    span.checkbox__mark
      svg.checkbox__mark-svg(aria-hidden='true' width="11" height="9" viewBox="0 0 11 9")
        use(xlink:href='#check')