mixin discount(discountValue)
  .discount(data-discount-value= discountValue)
    svg.icon.discount__svg(aria-hidden='true' width='92' height='34' viewBox='0 0 92 34')
      use(xlink:href='#discount')