//- menu user and cart
mixin menu(menuClass)
  nav.nav.menu(class= menuClass)
    a.link.menu__link.menu__link-user(href='#')
      svg.link-svg.menu__svg.menu__svg-user(aria-hidden='true')
        use(xlink:href='#user')
    a.link.menu__link.menu__link-cart(href='#')
      span.menu__cart-count(data-cart-count='0')
      svg.link-svg.menu__svg.menu__svg-cart(aria-hidden='true')
        use(xlink:href='#cart')