mixin nav(navClass, ...listClass)
  nav.nav(class= navClass)
    ul.nav__list(class= listClass)
      block

mixin navItem(itemClass, title, href, ...linkClass)
  li.nav__item(class= itemClass)
    a.link.nav__link(class= linkClass, href= href)= title
      block