mixin navSlides(mainClass, prevClass, nextClass)
  nav.nav.nav-slide(class= mainClass)
    button.btn.icon.nav-slide__btn.nav-slide__prev(class= prevClass)
      svg.icon__arrow(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
        circle(cx='16' cy='16' r='15' stroke-width='2')
        path(d='M14 11L19 16L14 21' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
    button.btn.icon.nav-slide__btn.nav-slide__next(class= nextClass)
      svg.icon__arrow(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
        circle(cx='16' cy='16' r='15' stroke-width='2')
        path(d='M14 11L19 16L14 21' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')