mixin rating(value, classRating, classRatingValue)
  .rating(class= classRating)
    svg.rating__svg(aria-hidden='true' width='16' height='15' viewBox='0 0 16 15')
      use(xlink:href='#star')
    span.rating__value(class= classRatingValue)= value