// phones, 600px and down
@media (max-width: $sm-table-width) {
  .hero {
    padding: 16px 0 0 0;
    &__btn {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 17px 12px;
    }
    &__slider {
      margin-bottom: 32px;
      &-slide {
        min-height: 210px;
        &-container {
          // position: relative;
          padding-top: 30px;
          padding-bottom: 0;
        }

        &-title {
          font-size: pxToRem(20px);
          line-height: 27px;
          max-width: 222px;
          padding-left: 18px;
        }

        &-1 {
          background: url("@img/hero/1_320.jpg") center center no-repeat;
          background-size: cover;
        }

        &-2 {
          background: url("@img/hero/2_320.jpg") center center no-repeat;
          background-size: cover;
        }

        &-3 {
          background: url("@img/hero/3_320.jpg") center center no-repeat;
          background-size: cover;
        }
        &-btn {
          display: none;
        }
      }

      &-pagination {
        bottom: 10px;
        left: 43%;
        &-item {
          width: 6px;
          height: 6px;
          margin: 0 4px;
        }
      }
    }
  }
}
