// phones, 992px and down
@media (max-width: $table-width) {
  .hero {
    &__slider {
      &-slide {
        &-1 {
          background: url("@img/hero/1_768.jpg") no-repeat;
          background-size: cover;
        }

        &-2 {
          background: url("@img/hero/2_768.jpg") no-repeat;
          background-size: cover;
        }

        &-3 {
          background: url("@img/hero/3_768.jpg") no-repeat;
          background-size: cover;
        }
      }
      &-pagination {
        left: 44%;
      }
    }
  }
}