// phones, 1200 and down
@media (max-width: $desktop-width) {
  .hero {
    &__slider {
      &-slide {
        &-1 {
          background: url("@img/hero/1_1024.jpg") no-repeat;
          background-size: cover;
        }

        &-2 {
          background: url("@img/hero/2_1024.jpg") no-repeat;
          background-size: cover;
        }

        &-3 {
          background: url("@img/hero/3_1024.jpg") no-repeat;
          background-size: cover;
        }
      }
      &-pagination {
        left: 45.6%;
      }
    }
  }
}