// phones, 2k and down
@media (min-width: $big-desktop-width) {
  .hero {
    &__slider {
      &-slide {
        &-1 {
          background: url("@img/hero/1_2k.jpg") center center no-repeat;
          background-size: cover;
        }

        &-2 {
          background: url("@img/hero/2_2k.jpg") center center no-repeat;
          background-size: cover;
        }

        &-3 {
          background: url("@img/hero/3_2k.jpg") center center no-repeat;
          background-size: cover;
        }
      }
      &-pagination {
        left: 48.3%;
      }
    }
  }
}


