.hero {
  padding: 31px 0 70px;
  &__btn {
    display: none;
  }
  &__slider {
    overflow-y: visible;
    &-slide {
      min-height: 400px;
      &-title {
        font-size: pxToRem(48px);
        color: $gray-color;
        font-weight: 700;
        line-height: 65px;
        margin-bottom: 50px;
      }

      &-1 {
        background: url("@img/hero/1.jpg") no-repeat;
        background-size: cover;
        &-title {
          max-width: 500px;
        }
      }

      &-2 {
        background: url("@img/hero/2.jpg") no-repeat;
        background-size: cover;
        &-title {
          max-width: 500px;
        }
      }

      &-3 {
        background: url("@img/hero/3.jpg") no-repeat;
        background-size: cover;
        &-title {
          color: $white-color;
          max-width: 580px;
        }
      }

      &-container {
        padding-top: 80px;
        padding-bottom: 80px;
      }

      &-btn {
        padding: 17px 48px;
      }
    }

    &-pagination {
      display: flex;
      position: absolute;
      bottom: 23px;
      left: 47.6%;
      z-index: 10;
      &-item {
        cursor: pointer;
        margin: 0 8px;
        display: block;
        width: 14px;
        height: 14px;
        background-color: $main-color;
        border-radius: 50%;
        opacity: 0.3;
        @include transition;
        transition-property: opacity, outline-color;

        &:hover {
          outline: 1px solid $secondary-light-color;
          outline-offset: -1px;
        }

        &_active {
          opacity: 1;
        }
      }
    }
  }
}
