include ../utils/mixins
block variables

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description', content=description)
    title #{title}
    link(rel="icon" type="image/ico" href=require('@img/favicon.ico'))
    link(href=require('../../assets/scss/styles.scss') rel='stylesheet')
    script(src=require('../../index.js'), defer)
    block head
  body(class=pageClass)
    include ../includes/modules/header
    main.main
      block content
    include ../includes/modules/footer

