.catalog {
  padding-bottom: 38px;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, auto));
    gap: 32px;
    grid-template-areas: "aside view view view";
  }

  &__aside {
    grid-area: aside;
    &-title-mobile {
      display: none;
      font-size: pxToRem(24px);
      margin-bottom: 16px;
    }
  }

  &__filter {
    &-btn {
      display: none;
      min-width: 187px;
      padding: 7px 13px;
      color: inherit;
      background-color: $gray-light-color;
      cursor: pointer;
      @include transition;
      transition-property: background-color, border-color;
      & .toggle__svg {
        color: $primary-color;
      }
    }

    &-checkbox-text {
      font-size: pxToRem(16px);
      line-height: pxToRem(21px);
    }

    &-title {
      font-size: pxToRem(18px);
      line-height: pxToRem(23px);
      margin-bottom: 20px;
      &-mobile {
        display: none;
        font-size: pxToRem(14px);
        line-height: pxToRem(18px);
        margin-right: 44px;
      }
    }

    &-subtitle {
      color: $main-secondary-color;
      font-size: pxToRem(16px);
      font-weight: 600;
      line-height: pxToRem(21px);
      margin-bottom: 9px;
      &-2 {
        margin-bottom: 5px;
      }
    }

    &-fraction {
      margin-bottom: 87px;
      &-item {
        &:not(:last-child) {
          margin-bottom: 27px;
        }
        &:nth-child(2) {
          margin-bottom: 21px;
        }
      }
    }

    &-content {
      &-more {
        display: none;
      }
      &-item {
        &:not(:last-child) {
          margin-bottom: 11px;
        }

        &:nth-child(1) .checkbox &-more {
          &::before {
            content: "Более";
          }
        }
        &:nth-child(2) .checkbox &-less {
          &::before {
            content: "Менее";
          }
        }
      }
    }

    &-cost {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8px;
    }

    &-input {
      max-width: 86px;
      padding: 2px 13px;
      margin-left: 9px;
    }
  }

  &__banner {
    min-height: 420px;
    background-color: $main-color;
    min-height: auto;
    &-image {
      border-radius: 8px 8px 0px 0px;
      &-wrapper {
        margin-bottom: 15px;
      }
    }
    &-title {
      color: $gray-color;
      font-size: pxToRem(16px);
      font-weight: 400;
      line-height: pxToRem(22px);
      margin-bottom: 11px;
    }
    &-accent {
      font-family: "Playfair Display Black";
      color: $gold-color;
      font-size: pxToRem(24px);
      font-weight: 900;
      line-height: pxToRem(32px);
    }
  }

  &__range {
    width: 100%;
    --min: 0;
    --max: 200000;
    --value-a: 20000;
    --value-b: 150000;
    --text-value-a: "20000";
    --text-value-b: "150000";
    --primary-color: #a65cf0;
    --thumb-size: 14px;
    --thumb-shadow: none;
    --thumb-shadow-active: none;
    --thumb-color: transparent;
    --thumb-radius: 0;
    --track-height: 3px;
    --progress-radius: 3px;
    --progress-shadow: none;
    --progress-flll-shadow: none;
    --progress-background: #eaeaea;
    --show-min-max: none;
    --ticks-height: 0;
    border-radius: 0;

    & > input {
      &:active ~ .range-slider__progress::before {
        transition-property: background-color;
        @include transition;
        background-color: $primary-shade-color;
      }

      &::-webkit-slider-thumb {
        background: transparent center center / 100% url("@img/catalog/arrow-thumb.png") no-repeat;
        &:hover {
          background-image: url("@img/catalog/arrow-thumb-hover.png");
        }
        &:active {
          background-image: url("@img/catalog/arrow-thumb-active.png");
        }
        transition-property: background-image;
        @include transition;
      }
      &::-moz-range-thumb {
        background: transparent center center / 100% url("@img/catalog/arrow-thumb.png") no-repeat;
        &:hover {
          background-image: url("@img/catalog/arrow-thumb-hover.png");
        }
        &:active {
          background-image: url("@img/catalog/arrow-thumb-active.png");
        }
      }
    }
  }

  &__view {
    max-width: 952px;
    grid-area: view;
    &-title {
      font-size: pxToRem(24px);
      margin-bottom: 24px;
    }
  }

  &__slider {
    height: 100%;
    &-slide {
      min-height: 420px;
      height: auto;
    }
    &-pagination {
      padding-top: 32px;
      padding-bottom: 32px;
      text-align: center;
      &-item {
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        margin: 0 8px;
        &--active {
          background-color: $primary-shade-color;
          border-color: $primary-shade-color;
          color: $white-color;
          &:focus {
            background-color: $primary-shade-color;
            border-color: $primary-shade-color;
          }
        }
      }
    }
  }

  &__card {
    min-height: 420px;
    &-btn {
      padding: 13px 33px;
      &-wrapper {
        padding: 32px 0;
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
}
