@media (max-width: $sm-table-width) {
  .catalog {
    padding-top: 16px;
    &__wrapper {
      grid-template-columns: minmax(300px, auto);
    }

    &__aside {
      &-title-mobile {
        margin-bottom: 16px;
      }
    }

    &__filter {
      &-btn {
        min-width: 144px;
      }
      &-content {
        padding: 28px 10px 30px 10px;
        top: 34px;
        &-item .checkbox {
          padding-left: 26px;
        }
      }
      &-lable {
        padding-right: 4px;
      }
      &-input {
        padding: 4px 11px;
      }
      &-content {
        &-item {
          &:nth-child(1) .checkbox &-more {
            &::before {
              content: ">";
            }
          }
          &:nth-child(2) .checkbox &-less {
            &::before {
              content: "<";
            }
          }
        }
      }
    }

    &__slider-slide {
      min-height: auto;
    }
  }
  .breadcrumbs {
    display: none;
  }
}
