// phones, 1200 and down
@media (max-width: $desktop-width) {
  .catalog {
    &__wrapper {
      grid-template-columns: minmax(921px, auto);
      grid-template-areas:
        "aside"
        "view";
    }

    &__aside {
      &-title-mobile {
        display: block;
      }
    }

    &__filter {
      display: flex;
      align-items: center;
      &-fraction {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 0;
        &-item:not(:last-child) {
          margin: 0;
        }
      }

      &-content {
        padding: 28px 10px 30px 29px;
        top: 34px;
        &-more {
          display: inline-flex;
        }
      }

      &-title {
        display: none;
        &-mobile {
          display: block;
        }
      }

      &-subtitle {
        display: none;
      }

      &-btn {
        display: inline-flex;
      }

      &-cost {
        margin-bottom: 0;
      }

      &-lable {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 32px;
        &:first-child {
          margin-bottom: 13px;
        }
      }
      &-input {
        margin-left: 0;
        background-color: transparent;
      }
    }

    &__range {
      display: none;
    }

    &__banner {
      display: none;
    }

    &__view {
      max-width: 1128px;
      &-title {
        display: none;
      }
    }
  }
}
