// phones, 992px and down
@media (max-width: $table-width) {
  .catalog {
    &__wrapper {
      grid-template-columns: minmax(600px, auto);
      grid-template-areas:
        "aside"
        "view";
    }

    &__aside {
      &-title-mobile {
        margin-bottom: 28px;
      }
    }

    &__filter {
      align-items: flex-start;
      flex-direction: column;
      &-title-mobile {
        margin-right: 0;
        margin-bottom: 15px;
      }
      &-fraction {
        flex-wrap: wrap;
        max-width: 406px;
        &-item {
          &:not(:last-child) {
            margin-bottom: 15px;
          }
          &:nth-last-child(2) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
