.special-offer {
  background-color: $white-color;
  padding: 0 0 66px 0;
  &__wrapp {
    position: relative;
  }

  &__title {
    margin-bottom: 26px;
  }

  &__slider {
    &-slide {
      max-width: 296px;
      &:nth-child(3n -1) {
        max-width: 624px;
      }
    }
  }

  &__card {
    &-image {
      &-wrapper {
        min-height: 298px;
      }
    }

    &-title {
      max-width: 230px;
    }

    &-btn {
      // padding: 14px 33px;
    }
  }
}
