// phones, 1200 and down
@media (max-width: $desktop-width) {
  .special-offer {
    padding-bottom: 70px;
    &__slider {
      &-slide {
        &:nth-child(3n -1) {
          max-width: 296px;
        }
      }
    }
  }
}