include ./mixin-components/discount
include ./mixin-components/rating
include ./mixin-components/navSlides
include ./mixin-components/tooltip
include ./mixin-components/breadcrumbs
include ./mixin-components/checkbox
include ./mixin-components/nav
include ./mixin-components/menu
include ./mixin-components/logo
