// phones, 600px and down
@media (max-width: $sm-table-width) {
  .similar {
    padding-bottom: 119px;
    &__title {
      margin-bottom: 26px;
    }
    &__slider {
      &-slide {
        max-width: 140px;
      }
    }
    &__card {
      min-height: 140px;
    }
  }
}