.similar {
  padding: 0 0 70px;
  &__wrapp {
    position: relative;
  }

  &__title {
    font-size: pxToRem(24px);
    line-height: pxToRem(31px);
    margin-bottom: 25px;
  }

  &__slider {
    &-slide {
      max-width: 296px;
    }
  }

  &__card {
    min-height: 420px;
    &-title {
      max-width: 230px;
    }
  }
}