// phones, 992px and down
@media (max-width: $table-width) {
  .product-card {
    padding-bottom: 32px;
    &-main {
      grid-template-columns: 187px auto;
      grid-template-rows: auto;
      row-gap: 32px;
      margin-bottom: 21px;
      &__preview {
        grid-column: 1 / 3;
        min-height: 245px;
        &-item {
          & img {
            margin: 0 auto;
            max-height: 245px;
          }
        }
      }

      &__info {
        padding-top: 50px;
        grid-column: 2/3;
        grid-row: 2;
      }

      &__tabs {
        padding: 20px 0;
        flex-direction: column;
        align-items: center;
        grid-column: 1/2;
        &-item {
          padding: 4px;
          margin-bottom: 11px;
        }
      }
    }

    &-desc {
      grid-template-columns: 1fr;
      row-gap: 32px;
      &__about {
        max-width: 514px;
        min-height: 326px;
      }
      &__feature-list {
        max-width: none;
      }
    }

    &-slider {
      &__swiper {
        padding: 20px 80px;
      }

      &__preview {
        padding: 50px 20px;
        &-item {
          max-height: 228px;
          min-height: 228px;
          height: 100%;
          & img {
            max-height: 228px;
          }
        }
      }
    }
  }
}
