.product-card {
  padding-bottom: 82px;
  &-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr minmax(81px, 1fr);
    column-gap: 32px;
    row-gap: 16px;
    margin-bottom: 32px;

    &__preview {
      min-height: 245px;
      &-item {
        display: none;
        cursor: zoom-in;
        align-items: center;
        justify-content: center;
        &.product-card-main__preview-item--active {
          display: flex;
        }
      }
    }

    &__info {
      grid-row: 1/3;
      grid-column: 2/3;
      position: relative;
      padding-top: 12px;
      &-rating {
        position: static;
        margin-bottom: 3px;
      }

      &-title {
        font-size: pxToRem(24px);
        line-height: pxToRem(31px);
        margin-bottom: 4px;
      }

      &-desc {
        font-size: pxToRem(14px);
        line-height: pxToRem(14px);
        color: $gray-color;
        margin-bottom: 20px;
      }

      &-price {
        font-size: pxToRem(36px);
        line-height: pxToRem(48px);
        margin-bottom: 20px;
      }

      &-btn {
        font-size: pxToRem(16px);
        line-height: pxToRem(16px);
        padding: 18px 33px;
        font-weight: 600;
        margin-bottom: 10px;
        &-add {
          display: flex;
          margin-left: 30px;
        }
      }
    }

    &__tabs {
      display: flex;
      justify-content: space-between;
      background-color: $gray-light-color;
      padding: 0 16px;
      overflow-x: scroll;
      overflow-y: hidden;
      /* Hide scrollbar for Chrome, Safari and Opera */
      &::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      & {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }

      &-item {
        cursor: pointer;
        padding: 9px;
        &-img {
          max-height: 61px;
        }
      }
    }
  }

  &-desc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    &__about {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &-title {
        font-size: pxToRem(16px);
        line-height: pxToRem(16px);
        font-weight: 600;
        margin-bottom: 8px;
      }

      &-text {
        font-size: pxToRem(14px);
        line-height: pxToRem(25px);
        margin-bottom: 8px;
      }

      &-scheme {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }

    &__feature {
      &-list {
        display: grid;
        grid-template-columns: 1fr minmax(216px, auto);
        max-width: 544px;
      }

      &-item {
        display: flex;
        justify-content: space-between;
        &:nth-child(2n - 1) {
          align-self: center;
        }

        &-type {
          color: $gray-color;
          font-size: pxToRem(14px);
          line-height: pxToRem(25px);
        }

        &-value {
          font-size: pxToRem(14px);
          line-height: pxToRem(25px);
        }

        &-dots {
          margin: 0 4px;
          flex: 1;
          height: 25px;
          min-width: 50px;
          background: 0 70% url("@img/product-card/dot.png") repeat-x;
        }
      }
    }
  }

  &-form {
    &-box {
      padding: 30px;
      max-width: 624px;
      min-height: 421px;
    }

    &__title {
      color: $main-color;
      font-weight: 400;
      font-size: pxToRem(32px);
      line-height: pxToRem(32px);
      margin-bottom: 10px;
    }

    &__desc {
      font-size: pxToRem(14px);
      line-height: pxToRem(19px);
      margin-bottom: 30px;
    }

    &__input {
      margin-bottom: 30px;
    }

    &__submit {
      font-weight: 600;
      padding: 14px 33px;
      margin-bottom: 12px;
    }

    &__policy {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
    }

    &__agreement {
      font-size: pxToRem(14px);
      line-height: pxToRem(19px);
      padding-left: 4px;
      white-space: nowrap;
    }
  }

  &-thank {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: center;

    &-box {
      max-width: 624px;
      min-height: 421px;
    }

    &__svg {
      margin-bottom: 32px;
    }

    &__text {
      font-size: pxToRem(32px);
      line-height: pxToRem(32px);
    }
  }

  &-slider {
    flex: 1;
    &__swiper {
      background-color: $gray-light-color;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 20px 51px;
    }

    &__prev {
      position: absolute;
      top: calc(50% - 32px / 2);
      left: 20px;
      z-index: 10;
      transform: rotate(180deg);
      display: none;
    }

    &__next {
      position: absolute;
      top: calc(50% - 32px / 2);
      right: 20px;
      z-index: 10;
      display: none;
    }

    &__preview {
      padding: 50px 65px;
      &-item {
        display: none;
        align-items: center;
        justify-content: center;
        &.product-card-slider__preview-item--active {
          display: flex;
        }
        max-height: 418px;
        min-height: 418px;
        // & img {
        //   max-height: 418px;
        // }
        & img {
          object-fit: contain;
        }
      }
    }

    &__tabs {
      background-color: $gray-light-color;
      &-item {
        cursor: pointer;
        &:nth-child(1) {
          max-width: 253px;
        }
        &:nth-child(2) {
          max-width: 135px;
        }
        &:nth-child(3) {
          max-width: 275px;
        }
        &:nth-child(4) {
          max-width: 281px;
        }
      }
    }
  }
}
