// phones, 1200 and down
@media (max-width: $desktop-width) {
  .product-card {
    padding-bottom: 70px;
    &-main {
      grid-template-columns: minmax(400px, 514px) minmax(290px, 450px);
      &__preview {
        min-height: 202px;
        &-item {
          & img {
            max-height: 202px;
          }
        }
      }

      &__info {
        padding-top: 16px;
      }

      &__tabs {
        padding: 0;
        &-item {
          padding: 11px 27px 11px 11px;
        }
      }
    }

    &-desc {
      grid-template-columns: minmax(400px, 514px) minmax(290px, 450px);
    }

    &-slider {
      &__swiper {
        padding: 20px 67px;
      }

      &__prev {
        display: block;
      }

      &__next {
        display: block;
      }

      &__preview {
        padding: 50px 65px;
        &-item {
          max-height: 332px;
          min-height: 332px;
          height: 100%;
          & img {
            max-height: 332px;
          }
        }
      }
    }
  }
}
