// phones, 600px and down
@media (max-width: $sm-table-width) {
  .product-card {
    padding-top: 16px;
    padding-bottom: 66px;
    &-main {
      grid-template-columns: 1fr;
      row-gap: 16px;
      margin-bottom: 33px;
      &__preview {
        grid-column: auto;
        min-height: 116px;
        &-item img {
          max-height: 116px;
        }
      }

      &__tabs {
        padding: 0;
        flex-direction: row;
        grid-column: auto;
        &-item {
          padding: 10px;
          margin-bottom: 0;
          margin-right: 18px;
        }
      }

      &__info {
        grid-column: auto;
        grid-row: 3;
        padding-top: 0;
        &-title {
          font-size: pxToRem(16px);
          line-height: pxToRem(20px);
          margin-bottom: 8px;
        }
        &-price {
          font-size: pxToRem(24px);
          line-height: pxToRem(21px);
          margin-bottom: 22px;
        }
        &-btn {
          // align-items: center;
          text-align: center;
          width: 100%;
          padding: 17px 33px;
          &-add {
            margin: 0 auto;
          }
        }
      }
    }

    &-desc {
      &__about {
        &-scheme-img {
          width: 140px;
        }
        &-text {
          &:last-child {
            margin-bottom: 31px;
          }
        }
      }
      &__feature {
        &-list {
          grid-template-columns: 1fr;
        }
        &-item {
          &:nth-child(2n) {
            margin-bottom: 8px;
          }
          &-type {
            font-size: pxToRem(10px);
            line-height: pxToRem(14px);
          }
          &-dots {
            display: none;
          }
          &-value {
            font-size: pxToRem(14px);
            line-height: pxToRem(19px);
          }
        }
      }
    }

    &-form {
      &-box {
        padding: 16px;
      }

      &__title {
        font-size: pxToRem(24px);
        line-height: pxToRem(24px);
        margin-bottom: 8px;
      }

      &__form {
        &-submit {
          margin-bottom: 11px;
        }
      }

      &__checkbox {
        &-text {
          font-size: pxToRem(12px);
        }
      }

      &__agreement {
        font-size: pxToRem(12px);
      }
    }

    &-thank {
      &__svg {
        margin-bottom: 14px;
        width: 73px;
        height: 50px;
        margin-right: 20px;
      }

      &__text {
        font-size: pxToRem(16px);
        line-height: pxToRem(14px);
        text-align: center;
        max-width: 194px;
      }
    }

    &-slider {
      &__swiper {
        padding: 16px 62px;
      }

      &__preview {
        padding: 32px 16px;
        &-item {
          // max-height: 104px;
          min-height: 104px;
          & img {
            // max-height: 104px;
          }
        }
      }

      &__tabs {
        &-item {
          display: flex;
          align-items: center;
          justify-content: center;
          & img {
            max-height: 86px;
          }
          &:nth-child(1) {
            max-width: none;
          }
          &:nth-child(2) {
            max-width: none;
            // max-width: 135px;
          }
          &:nth-child(3) {
            max-width: none;
            // max-width: 275px;
          }
          &:nth-child(4) {
            max-width: none;
            // max-width: 281px;
          }
        }
      }
    }
  }
}
