.high-rating {
  padding-bottom: 38px;
  &__title {
    margin-bottom: 27px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(296px, 1fr));
    gap: 32px;
    &_overflow {
      overflow: hidden;
      &.high-rating__grid_overflow_auto {
        max-height: 872px;
      }
      &.high-rating__grid_overflow_768 {
        max-height: 1324px;
      }
      &.high-rating__grid_overflow_600 {
        max-height: 872px;
      }
      &.high-rating__grid_overflow_320 {
        max-height: 865px;
      }
    }
  }

  &__card {
    min-height: 420px;
  }

  &__btn {
    padding: 16px 36px;
    &-wrapper {
      padding: 32px 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
