// phones, 992px and down
@media (max-width: $table-width) {
  .high-rating {
    &__grid {
      grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
      // &_overflow {
      //   max-height: 1324px;
      // }
    }
  }
}
