// phones, 600px and down
@media (max-width: $sm-table-width) {
 .high-rating {
    padding-top: 47px;
    &__grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
      gap: 16px;
      // &_overflow {
      //   max-height: 865px;
      // }
    }
    &__btn {
      padding: 17px 34px;
    }
  }
}