@media (max-width: $sm-table-width) {
  .feedback {
    padding-top: 49px;
    padding-bottom: 68px;
    &__title {
      margin-bottom: 8px;
    }
    &__content {
      grid-template-columns: 1fr;
      &-right {
        display: none;
      }
    }
    &__form {
      &-submit {
        margin-bottom: 11px;
      }
    }
    &__checkbox {
      &-text {
        font-size: pxToRem(12px);
      }
    }
    &__agreement {
      font-size: pxToRem(12px);
    }
  }
}
