.feedback {
  padding-bottom: 70px;

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    &-right {
      background-image: url("@img/feedback/1.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &__title {
    margin-bottom: 10px;
  }

  &__desc {
    font-size: pxToRem(14px);
    line-height: pxToRem(19px);
    margin-bottom: 14px;
  }

  &__form {
    &-input {
      margin-bottom: 30px;
    }

    &-submit {
      font-weight: 600;
      padding: 14px 33px;
      margin-bottom: 12px;
    }

    &-policy {
      display: flex;
      align-items: flex-end;
    }
  }

  &__agreement {
    font-size: pxToRem(14px);
    line-height: pxToRem(19px);
    padding-left: 4px;
  }
}
