@media (max-width: $sm-table-width) {
  .footer {
    &__content {
      padding-top: 24px;
      &-left {
        flex-direction: column;
        align-items: center;
      }
      &-right {
        grid-template-columns: 1fr 1fr;
        column-gap: 19px;
        row-gap: 23px;
      }
    }
    &__nav {
      // &:nth-child(2n - 1) {
      //   margin-right: 24px;
      // }
      // margin-bottom: 22px;
      // &:last-child {
      //   margin-bottom: 0;
      // }

      // &:nth-last-child(2) {
      //   margin-bottom: 0;
      // }
      &:nth-child(4) {
        justify-self: start;
      }
    }
    &__logo {
      margin-bottom: 21px;
    }
  }
}
