// phones, 1200 and down
@media (max-width: $desktop-width) {
  .footer {
    &__content {
      &-right {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 733px;
      }
      &-left {
      }
    }
  }
}
