// phones, 992px and down
@media (max-width: $table-width) {
  .footer {
    &__content {
      padding-top: 18px;
      padding-bottom: 22px;
      flex-direction: column;
      &-left {
        flex-direction: row;
        margin-right: 0;
        margin-bottom: 21px;
        min-height: 40px;
      }
      &-right {
        max-width: none;
      }
    }
    &__social {
      &-item {
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: -3px;
        }
      }
    }

    &__nav {
      &:nth-child(3) {
        justify-self: start;
      }
    }
  }
}
