.footer {
  grid-area: footer;

  &__top {
    background-color: $disable-bg-color;
  }

  &__bottom {
    // padding: 5px 0;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: pxToRem(14px);
    line-height: pxToRem(19px);
    letter-spacing: 0.7px;
    text-align: center;
    background-color: $gray-light-color;
  }

  &__content {
    padding-top: 24px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;

    &-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 92px;
      min-width: 187px;
      margin-right: 10px;
    }

    &-right {
      width: 100%;
      max-width: 843px;
      display: grid;
      grid-template-columns: 186px 1fr 1fr 213px;
      gap: 10px;
      // display: flex;
      // justify-content: space-between;
      // flex-wrap: wrap;
    }
  }

  &__logo {
    width: 187px;
    object-fit: contain;
  }

  &__social {
    &-item {
      &:first-child {
        margin-left: -3px;
      }
      &:not(:last-child) {
        margin-right: 14px;
      }
    }
  }

  &__nav {
    // &:nth-child(2) {
    //   justify-self: center;
    // }
    &:nth-child(3) {
      justify-self: center;
    }
    &:nth-child(4) {
      justify-self: end;
    }
    &-list {
      flex-direction: column;
    }
    &-item {
      &:not(:last-child) {
        margin-bottom: 10px;

      }
    }
  }
}