section.section.banner
  .banner__background
    .container.banner__container
      .banner__content
        h1.title-res.banner__title
          span.banner__title-accent Оксфорд 1950
          br
          | Новая коллекция изысканных кресел
        a.link.btn.btn-primary.btn-primary_theme_primary.banner__btn(href= '#') Ознакомиться
  .container.banner__container-mobile
    a.link.btn.btn-primary.btn-primary_theme_primary.banner__btn-mobile(href= '#') Ознакомиться