section.section.catalog
  .container
    .catalog__wrapper
      aside.catalog__aside
        h2.title-res.catalog__aside-title-mobile Каталог
        .catalog__filter
          h3.title-res.catalog__filter-title Фильтровать по:
          h3.title-res.catalog__filter-title-mobile Фильтры:
          ul.list.catalog__filter-fraction
            li.list__item.toggle.catalog__filter-fraction-item
              h4.title-res.catalog__filter-subtitle Категория
              button.catalog__filter-btn Категория
                svg.toggle__svg(aria-hidden='true' width='12' height='8' viewBox='0 0 12 8')
                  use(xlink:href='#select-arrow')
              ul.list.catalog__filter-content
                li.list__item.catalog__filter-content-item
                  +checkbox('Диваны', 'catalog__filter-checkbox-text', 'checkbox_theme_big', true)
                li.list__item.catalog__filter-content-item
                  +checkbox('Кресла', 'catalog__filter-checkbox-text', 'checkbox_theme_big', false)
                li.list__item.catalog__filter-content-item
                  +checkbox('Пуфы', 'catalog__filter-checkbox-text', 'checkbox_theme_big', false)
                li.list__item.catalog__filter-content-item
                  +checkbox('Кровати', 'catalog__filter-checkbox-text', 'checkbox_theme_big', false)
                li.list__item.catalog__filter-content-item
                  +checkbox('Тумбы', 'catalog__filter-checkbox-text', 'checkbox_theme_big', false)
                li.list__item.catalog__filter-content-item
                  +checkbox('Комоды', 'catalog__filter-checkbox-text', 'checkbox_theme_big', false)
                li.list__item.catalog__filter-content-item
                  +checkbox('Стулья', 'catalog__filter-checkbox-text', 'checkbox_theme_big', false)
                li.list__item.catalog__filter-content-item
                  +checkbox('Столы', 'catalog__filter-checkbox-text', 'checkbox_theme_big', false)
                li.list__item.catalog__filter-content-item
                  +checkbox('Аксессуары', 'catalog__filter-checkbox-text', 'checkbox_theme_big', false)
                li.list__item.catalog__filter-content-item
                  button.btn.btn-secondary.btn-secondary_theme_primary.catalog__filter-content-more(type='submit') + Еще 12
            li.list__item.toggle.catalog__filter-fraction-item
              h4.title-res.catalog__filter-subtitle.catalog__filter-subtitle-2 Цена
              button.catalog__filter-btn Цена
                svg.toggle__svg(aria-hidden='true' width='12' height='8' viewBox='0 0 12 8')
                  use(xlink:href='#select-arrow')
              .catalog__filter-content
                .catalog__filter-cost
                  label.catalog__filter-lable от
                    input.input.input_hide_number.input_theme_number.catalog__filter-input(type='number' value='20000')
                  label.catalog__filter-lable до
                    input.input.input_hide_number.input_theme_number.catalog__filter-input(type='number' value='150000')
                .catalog__range.range-slider.flat(data-ticks-position='top')
                  input(type='range' min='0' max='200000' value='20000' oninput="this.parentNode.style.setProperty('--value-a',this.value); this.parentNode.style.setProperty('--text-value-a', JSON.stringify(this.value))")
                  input(type='range' min='0' max='200000' value='150000' oninput="this.parentNode.style.setProperty('--value-b',this.value); this.parentNode.style.setProperty('--text-value-b', JSON.stringify(this.value))")
                  .range-slider__progress
            li.list__item.toggle.catalog__filter-fraction-item
              h4.title-res.catalog__filter-subtitle Скидка
              button.catalog__filter-btn Скидка
                svg.toggle__svg(aria-hidden='true' width='12' height='8' viewBox='0 0 12 8')
                  use(xlink:href='#select-arrow')
              ul.list.catalog__filter-content
                li.list__item.catalog__filter-content-item
                  +checkbox(' 5 000', 'catalog__filter-checkbox-text catalog__filter-content-item-more', 'checkbox_theme_big', false)
                li.list__item.catalog__filter-content-item
                  +checkbox(' 5 000', 'catalog__filter-checkbox-text catalog__filter-content-item-less', 'checkbox_theme_big', false)
                li.list__item.catalog__filter-content-item
                  +checkbox('Не важно', 'catalog__filter-checkbox-text', 'checkbox_theme_big', true)
            li.list__item.toggle.catalog__filter-fraction-item
              h4.title-res.catalog__filter-subtitle Цвет
              button.catalog__filter-btn Цвет
                svg.toggle__svg(aria-hidden='true' width='12' height='8' viewBox='0 0 12 8')
                  use(xlink:href='#select-arrow')
              ul.list.catalog__filter-content
                li.list__item.catalog__filter-content-item
                  +checkbox('Коричневый', 'catalog__filter-checkbox-text', 'checkbox_theme_big', false)
                li.list__item.catalog__filter-content-item
                  +checkbox('Черный', 'catalog__filter-checkbox-text', 'checkbox_theme_big', false)
                li.list__item.catalog__filter-content-item
                  +checkbox('Бежевый', 'catalog__filter-checkbox-text', 'checkbox_theme_big', false)
                li.list__item.catalog__filter-content-item
                  +checkbox('Серый', 'catalog__filter-checkbox-text', 'checkbox_theme_big', false)
                li.list__item.catalog__filter-content-item
                  +checkbox('Белый', 'catalog__filter-checkbox-text', 'checkbox_theme_big', false)
                li.list__item.catalog__filter-content-item
                  +checkbox('Синий', 'catalog__filter-checkbox-text', 'checkbox_theme_big', false)
                li.list__item.catalog__filter-content-item
                  +checkbox('Оранжевый', 'catalog__filter-checkbox-text', 'checkbox_theme_big', true)
                li.list__item.catalog__filter-content-item
                  +checkbox('Желтый', 'catalog__filter-checkbox-text', 'checkbox_theme_big', false)
                li.list__item.catalog__filter-content-item
                  +checkbox('Зеленый', 'catalog__filter-checkbox-text', 'checkbox_theme_big', false)
                li.list__item.catalog__filter-content-item
                  button.btn.btn-secondary.btn-secondary_theme_primary.catalog__filter-content-more(type='submit') + Еще 7

          .card.card_theme_mobile.catalog__banner
            .card__image-wrapper.catalog__banner-image-wrapper
              picture
                img.card__img.catalog__banner-image(src= require('@img/catalog/collection-card.jpg') alt="Оксфорд 1950")
            .card__content-wrapper
              h2.card__title.catalog__banner-title
                span.catalog__banner-accent Оксфорд 1950
                br
                | Новая коллекция изысканных кресел
              .card__content
                a.card__link.icon.link(href= '#')
                  span.card__link-text В каталог
                  svg.icon__arrow.card__link-svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                    circle(cx='16' cy='16' r='15' stroke-width='2')
                    path(d='M14 11L19 16L14 21' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')

      .catalog__view
        h2.title-res.catalog__view-title Каталог
        .catalog__view-slider-wrapper
          .catalog__slider.swiper
            ul.list.catalog__slider-wrapper.swiper-wrapper
              li.list__item.catalog__slider-slide.swiper-slide
                .card.card_theme_mobile.catalog__card
                  +rating('5,0')
                  .card__image-wrapper
                    picture
                      source(srcset= require('@img/products/1_320.png') media='(max-width: 600px)')
                      img.card__img(src= require('@img/products/1.png') alt="Диван кожаный “R-94”")
                  .card__content-wrapper
                    h3.card__title Диван кожаный “R-94”
                    .card__content
                      .card__content-item
                        .card__price-group
                          .card__price 94 990 руб
                        a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.catalog__card-btn(href='productCard.html') Купить
              li.list__item.catalog__slider-slide.swiper-slide
                .card.card_theme_mobile.catalog__card
                  +rating('4,9')
                  .card__image-wrapper
                    picture
                      source(srcset= require('@img/products/2_320.png') media='(max-width: 600px)')
                      img.card__img(src= require('@img/products/2.png') alt="Диван апартековый “T-75”")
                  .card__content-wrapper
                    h3.card__title Диван апартековый “T-75”
                    .card__content
                      .card__content-item
                        .card__price-group
                          .card__price 69 990 руб
                        a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.catalog__card-btn(href='productCard.html') Купить
              li.list__item.catalog__slider-slide.swiper-slide
                .card.card_theme_mobile.catalog__card
                  +rating('4,8')
                  .card__image-wrapper
                    picture
                      source(srcset= require('@img/products/3_320.png') media='(max-width: 600px)')
                      img.card__img(src= require('@img/products/3.png') alt="Диван тканевый “D-31”")
                  .card__content-wrapper
                    h3.card__title Диван тканевый “D-31”
                    .card__content
                      .card__content-item
                        .card__price-group
                          .card__price 28 490 руб
                        a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.catalog__card-btn(href='productCard.html') Купить
              li.list__item.catalog__slider-slide.swiper-slide
                .card.card_theme_mobile.catalog__card
                  +rating('4,8')
                  .card__image-wrapper
                    picture
                      source(srcset= require('@img/products/4_320.png') media='(max-width: 600px)')
                      img.card__img(src= require('@img/products/4.png') alt="Диван велюровый “Y-68”")
                  .card__content-wrapper
                    h3.card__title Диван велюровый “Y-68”
                    .card__content
                      .card__content-item
                        .card__price-group
                          .card__price 22 990 руб
                        a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.catalog__card-btn(href='productCard.html') Купить
              li.list__item.catalog__slider-slide.swiper-slide
                .card.card_theme_mobile.catalog__card
                  +rating('4,8')
                  .card__image-wrapper
                    picture
                      source(srcset= require('@img/products/5_320.png') media='(max-width: 600px)')
                      img.card__img(src= require('@img/products/5.png') alt="Диван из шинила “W-95”")
                  .card__content-wrapper
                    h3.card__title Диван из шинила “W-95”
                    .card__content
                      .card__content-item
                        .card__price-group
                          .card__price 22 990 руб
                        a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.catalog__card-btn(href='productCard.html') Купить
              li.list__item.catalog__slider-slide.swiper-slide
                .card.card_theme_mobile.catalog__card
                  +rating('4,8')
                  .card__image-wrapper
                    picture
                      source(srcset= require('@img/products/6_320.png') media='(max-width: 600px)')
                      img.card__img(src= require('@img/products/6.png') alt="Диван флоковый “G-41”")
                  .card__content-wrapper
                    h3.card__title Диван флоковый “G-41”
                    .card__content
                      .card__content-item
                        .card__price-group
                          .card__price 17 990 руб
                        a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.catalog__card-btn(href='productCard.html') Купить
              li.list__item.catalog__slider-slide.swiper-slide
                .card.card_theme_mobile.catalog__card
                  +rating('4,8')
                  .card__image-wrapper
                    picture
                      source(srcset= require('@img/products/7_320.png') media='(max-width: 600px)')
                      img.card__img(src= require('@img/products/7.png') alt="Диван шиниловый “V-43”")
                  .card__content-wrapper
                    h3.card__title Диван шиниловый “V-43”
                    .card__content
                      .card__content-item
                        .card__price-group
                          .card__price 19 990 руб
                        a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.catalog__card-btn(href='productCard.html') Купить
              li.list__item.catalog__slider-slide.swiper-slide
                .card.card_theme_mobile.catalog__card
                  +rating('4,7')
                  .card__image-wrapper
                    picture
                      source(srcset= require('@img/products/8_320.png') media='(max-width: 600px)')
                      img.card__img(src= require('@img/products/8.png') alt="Диван велюровый “S-99”")
                  .card__content-wrapper
                    h3.card__title Диван велюровый “S-99”
                    .card__content
                      .card__content-item
                        .card__price-group
                          .card__price 19 990 руб
                        a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.catalog__card-btn(href='productCard.html') Купить
              li.list__item.catalog__slider-slide.swiper-slide
                .card.card_theme_mobile.catalog__card
                  +rating('4,7')
                  .card__image-wrapper
                    picture
                      source(srcset= require('@img/products/9_320.png') media='(max-width: 600px)')
                      img.card__img(src= require('@img/products/9.png') alt="Диван из кожзама “F-85”")
                  .card__content-wrapper
                    h3.card__title Диван из кожзама “F-85”
                    .card__content
                      .card__content-item
                        .card__price-group
                          .card__price 26 990 руб
                        a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.catalog__card-btn(href='productCard.html') Купить
              li.list__item.catalog__slider-slide.swiper-slide
                .card.card_theme_mobile.catalog__card
                  +rating('4,6')
                  .card__image-wrapper
                    picture
                      source(srcset= require('@img/products/10_320.png') media='(max-width: 600px)')
                      img.card__img(src= require('@img/products/10.png') alt="Диван флоковый “H-64”")
                  .card__content-wrapper
                    h3.card__title Диван флоковый “H-64”
                    .card__content
                      .card__content-item
                        .card__price-group
                          .card__price 25 990 руб
                        a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.catalog__card-btn(href='productCard.html') Купить
              li.list__item.catalog__slider-slide.swiper-slide
                .card.card_theme_mobile.catalog__card
                  +rating('4,6')
                  .card__image-wrapper
                    picture
                      source(srcset= require('@img/products/11_320.png') media='(max-width: 600px)')
                      img.card__img(src= require('@img/products/11.png') alt="Диван флоковый “H-58”")
                  .card__content-wrapper
                    h3.card__title Диван флоковый “H-58”
                    .card__content
                      .card__content-item
                        .card__price-group
                          .card__price 23 990 руб
                        a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.catalog__card-btn(href='productCard.html') Купить
              li.list__item.catalog__slider-slide.swiper-slide
                .card.card_theme_mobile.catalog__card
                  +rating('4,6')
                  .card__image-wrapper
                    picture
                      source(srcset= require('@img/products/12_320.png') media='(max-width: 600px)')
                      img.card__img(src= require('@img/products/12.png') alt="Диван из кожзама “R-43”")
                  .card__content-wrapper
                    h3.card__title Диван из кожзама “R-43”
                    .card__content
                      .card__content-item
                        .card__price-group
                          .card__price 33 990 руб
                        a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.catalog__card-btn(href='productCard.html') Купить
              li.list__item.catalog__slider-slide.swiper-slide
                .card.card_theme_mobile.catalog__card
                  +rating('4,8')
                  .card__image-wrapper
                    picture
                      source(srcset= require('@img/products/13_320.png') media='(max-width: 600px)')
                      img.card__img(src= require('@img/products/13.png') alt="Диван из шинила “С-42”")
                  .card__content-wrapper
                    h3.card__title Диван из шинила “С-42”
                    .card__content
                      .card__content-item
                        .card__price-group
                          .card__price 18 990 руб
                        a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.catalog__card-btn(href='productCard.html') Купить
              li.list__item.catalog__slider-slide.swiper-slide
                .card.card_theme_mobile.catalog__card
                  +rating('4,8')
                  .card__image-wrapper
                    picture
                      source(srcset= require('@img/products/14_320.png') media='(max-width: 600px)')
                      img.card__img(src= require('@img/products/14.png') alt="Диван велюровый “U-58”")
                  .card__content-wrapper
                    h3.card__title Диван велюровый “U-58”
                    .card__content
                      .card__content-item
                        .card__price-group
                          .card__price 21 990 руб
                        a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.catalog__card-btn(href='productCard.html') Купить
              li.list__item.catalog__slider-slide.swiper-slide
                .card.card_theme_mobile.catalog__card
                  +rating('4,8')
                  .card__image-wrapper
                    picture
                      source(srcset= require('@img/products/15_320.png') media='(max-width: 600px)')
                      img.card__img(src= require('@img/products/15.png') alt="Диван флоковый “F-41”        ")
                  .card__content-wrapper
                    h3.card__title Диван флоковый “G-41”
                    .card__content
                      .card__content-item
                        .card__price-group
                          .card__price 17 990 руб
                        a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.catalog__card-btn(href='productCard.html') Купить
              li.list__item.catalog__slider-slide.swiper-slide
                .card.card_theme_mobile.catalog__card
                  +rating('4,8')
                  .card__image-wrapper
                    picture
                      source(srcset= require('@img/products/16_320.png') media='(max-width: 600px)')
                      img.card__img(src= require('@img/products/16.png') alt="Диван велюровый “R-85”")
                  .card__content-wrapper
                    h3.card__title Диван велюровый “R-85”
                    .card__content
                      .card__content-item
                        .card__price-group
                          .card__price 34 990 руб
                        a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.catalog__card-btn(href='productCard.html') Купить
              li.list__item.catalog__slider-slide.swiper-slide
                .card.card_theme_mobile.catalog__card
                  +rating('4,7')
                  .card__image-wrapper
                    picture
                      source(srcset= require('@img/products/17_320.png') media='(max-width: 600px)')
                      img.card__img(src= require('@img/products/17.png') alt="Диван велюровый “S-44”")
                  .card__content-wrapper
                    h3.card__title Диван велюровый “S-44”
                    .card__content
                      .card__content-item
                        .card__price-group
                          .card__price 19 990 руб
                        a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.catalog__card-btn(href='productCard.html') Купить
              li.list__item.catalog__slider-slide.swiper-slide
                .card.card_theme_mobile.catalog__card
                  +rating('4,7')
                  .card__image-wrapper
                    picture
                      source(srcset= require('@img/products/18_320.png') media='(max-width: 600px)')
                      img.card__img(src= require('@img/products/18.png') alt="Диван из шинила “С-80”")
                  .card__content-wrapper
                    h3.card__title Диван из шинила “С-80”
                    .card__content
                      .card__content-item
                        .card__price-group
                          .card__price 20 990 руб
                        a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.catalog__card-btn(href='productCard.html') Купить
            .catalog__slider-pagination