section.section.feedback
  .container
    .feedback__content
      .feedback__content-left
        h2.section__title.feedback__title Мы всегда вам рады!
        p.text.feedback__desc Безусловно, новая модель организационной деятельности в значительной степени обусловливает важность распределения внутренних резервов и ресурсов.
          +tooltip('Реплицированные с зарубежных источников, исследования формируют глобальную сеть.')
        form.form.feedback__form(action="#" method="POST")
          input.input.feedback__form-input(type="text" placeholder= 'Как вас зовут?')
          input.input.feedback__form-input(type="tel" placeholder= 'Ваш телефон')
          input.input.feedback__form-input(type="email" placeholder= 'Ваш e-mail')
          input.btn.btn-primary.btn-primary_theme_primary.feedback__form-submit(type='submit' value='Отправить')
          .feedback__form-policy
            +checkbox('Принимаю', 'feedback__checkbox-text', 'checkbox_theme_defalt', true)
            a.link.link-underline.feedback__agreement(href='#') пользовательское соглашение
      .feedback__content-right