section.section.hero
  .swiper.hero__slider
    .swiper-wrapper.hero__slider-wrapper
      .swiper-slide.hero__slider-slide.hero__slider-slide-1
        .container.hero__slider-slide-container
          h2.title-res.hero__slider-slide-title.hero__slider-slide-1-title Скидка 15% на первую покупку
          a.link.btn.btn-primary.btn-primary_theme_primary.hero__slider-slide-btn.swiper-no-swiping(href= '#') Получить!
      .swiper-slide.hero__slider-slide.hero__slider-slide-2
        .container.hero__slider-slide-container
          h2.title-res.hero__slider-slide-title.hero__slider-slide-2-title 1000+ аксессуаров для дома
          a.link.btn.btn-primary.btn-primary_theme_primary.hero__slider-slide-btn.swiper-no-swiping(href= '#') Подробнее
      .swiper-slide.hero__slider-slide.hero__slider-slide-3
        .container.hero__slider-slide-container
          h2.title-res.hero__slider-slide-title.hero__slider-slide-3-title Коллекция стильного и яркого текстиля
          a.link.btn.btn-primary.btn-primary_theme_primary.hero__slider-slide-btn.swiper-no-swiping(href= '#') Подробнее
    .swiper-pagination.hero__slider-pagination
  .container.hero__btn-container
    a.link.btn.btn-primary.btn-primary_theme_primary.hero__btn(href= '#') Получить!