section.section.product-card
  .container
    .product-card__wrapper
      .product-card-main
        ul.list.product-card-main__preview
          li.list__item.product-card-main__preview-item
            img.img(src= require('@img/product-card/main/1-active.png'), alt="")
          li.list__item.product-card-main__preview-item
            img.img(src= require('@img/product-card/main/2-active.png'), alt="")
          li.list__item.product-card-main__preview-item
            img.img(src= require('@img/product-card/main/3-active.png'), alt="")
          li.list__item.product-card-main__preview-item
            img.img(src= require('@img/product-card/main/4-active.png'), alt="")
        .product-card-main__info
          +rating('4,8', 'product-card-main__info-rating', 'product-card-main__info-rating-value')
          h2.title-res.product-card-main__info-title Диван тканевый прямой “D-31”
          p.text.product-card-main__info-desc Мини 120 см без ящика Stark синий (Рогожка)
          .product-card-main__info-price 28 490 руб
          a.link.btn.btn-primary.btn-primary_theme_primary.product-card-main__info-btn(href='#') Купить в один клик
          button.btn.btn-secondary.btn-secondary_theme_primary.product-card-main__info-btn-add + Добавить в корзину
        ul.list.product-card-main__tabs
          li.list__item.product-card-main__tabs-item(data-tab='1')
            img.img.product-card-main__tabs-item-img(src= require('@img/product-card/main/1.png'), alt="1 tab", style="min-width:123px")
          li.list__item.product-card-main__tabs-item(data-tab='2')
            img.img.product-card-main__tabs-item-img(src= require('@img/product-card/main/2.png'), alt="2 tab", style="min-width:66px")
          li.list__item.product-card-main__tabs-item(data-tab='3')
            img.img.product-card-main__tabs-item-img(src= require('@img/product-card/main/3.png'), alt="3 tab", style="min-width:134px")
          li.list__item.product-card-main__tabs-item(data-tab='4')
            img.img.product-card-main__tabs-item-img(src= require('@img/product-card/main/4.png'), alt="4 tab", style="min-width:137px")
      .product-card-desc
        .product-card-desc__about
          .product-card-desc__about-info
            h2.title-res.product-card-desc__about-title Опорный механизм
            p.text.product-card-desc__about-text
              | Опорный механизм напоминает пантограф, к которому добавили дополнительную секцию. У опорного дивана сиденье «выпрыгивает» вперёд и вытаскивает вторую часть спального места. Заключительный штрих — опустить спинку.
            p.text.product-card-desc__about-text
              | Этот механизм не портит пол и не боится ковров. Требуется чуть больше силы, чтобы разложить диван, но подросток справится.
          .product-card-desc__about-scheme
            img.img.product-card-desc__about-scheme-img(src= require('@img/product-card/scheme.png'), alt="scheme 1")
            img.img.product-card-desc__about-scheme-img(src= require('@img/product-card/scheme-2.png'), alt="scheme 2")
        .product-card-desc__feature
          ul.list.product-card-desc__feature-list
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-type Гарантия
              span.product-card-desc__feature-item-dots
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-value 18 месяцев
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-type Артикул
              span.product-card-desc__feature-item-dots
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-value AAA41269004
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-type Длина
              span.product-card-desc__feature-item-dots
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-value 163 см
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-type Высота
              span.product-card-desc__feature-item-dots
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-value 90 см
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-type Глубина
              span.product-card-desc__feature-item-dots
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-value 108 см
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-type Спальное место
              span.product-card-desc__feature-item-dots
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-value 200 см х 125 см
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-type Высота посадки
              span.product-card-desc__feature-item-dots
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-value 45 см
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-type Механизм
              span.product-card-desc__feature-item-dots
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-value Опорный
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-type Тип обивки
              span.product-card-desc__feature-item-dots
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-value Рогожка
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-type Цвет
              span.product-card-desc__feature-item-dots
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-value Синий
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-type Наполнитель
              span.product-card-desc__feature-item-dots
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-value Независимый пружинный блок
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-type Материал каркаса
              span.product-card-desc__feature-item-dots
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-value Металл. рама с дерев. латами
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-type Количество мест
              span.product-card-desc__feature-item-dots
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-value Двухместные
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-type Категория
              span.product-card-desc__feature-item-dots
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-value Прямые тканевые диваны
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-type Возврат
              span.product-card-desc__feature-item-dots
            li.list__item.product-card-desc__feature-item
              p.text.product-card-desc__feature-item-value Условия
