section.section.similar
  .container.similar__container
    .similar__wrapp
      h2.section__title.similar__title Похожие товары
      +navSlides('similar__navigation', 'similar__navigation-prev', 'similar__navigation-next')
      .similar__slider.swiper
        ul.list.similar__slider-wrapper.swiper-wrapper
          li.list__item.similar__slider-slide.swiper-slide
            .card.card_theme_mobile.similar__card
              +rating('5,0')
              .card__image-wrapper.similar__card-image-wrapper
                picture
                  source(srcset= require('@img/products/1_320.png') media='(max-width: 600px)')
                  img.card__img(src= require('@img/products/1.png') alt="Диван кожаный “R-94”")
              .card__content-wrapper
                h3.card__title Диван кожаный “R-94”
                .card__content
                  .card__content-item
                    .card__price-group
                      .card__price 94 990 руб
                    a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.similar__card-btn.swiper-no-swiping(href='#') Купить
          li.list__item.similar__slider-slide.swiper-slide
            .card.card_theme_mobile.similar__card
              +rating('4,9')
              .card__image-wrapper.similar__card-image-wrapper
                picture
                  source(srcset= require('@img/products/2_320.png') media='(max-width: 600px)')
                  img.card__img(src= require('@img/products/2.png') alt="Диван апартековый “T-75”")
              .card__content-wrapper
                h3.card__title Диван апартековый “T-75”
                .card__content
                  .card__content-item
                    .card__price-group
                      .card__price 69 990 руб
                    a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.similar__card-btn.swiper-no-swiping(href='#') Купить
          li.list__item.similar__slider-slide.swiper-slide
            .card.card_theme_mobile.similar__card
              +rating('4,8')
              .card__image-wrapper.similar__card-image-wrapper
                picture
                  source(srcset= require('@img/products/3_320.png') media='(max-width: 600px)')
                  img.card__img(src= require('@img/products/3.png') alt="Диван тканевый “D-31”")
              .card__content-wrapper
                h3.card__title Диван тканевый “D-31”
                .card__content
                  .card__content-item
                    .card__price-group
                      .card__price 28 490 руб
                    a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.similar__card-btn.swiper-no-swiping(href='#') Купить
          li.list__item.similar__slider-slide.swiper-slide
            .card.card_theme_mobile.similar__card
              +rating('4,8')
              .card__image-wrapper.similar__card-image-wrapper
                picture
                  source(srcset= require('@img/products/4_320.png') media='(max-width: 600px)')
                  img.card__img(src= require('@img/products/4.png') alt="Диван велюровый “Y-68”")
              .card__content-wrapper
                h3.card__title Диван велюровый “Y-68”
                .card__content
                  .card__content-item
                    .card__price-group
                      .card__price 22 990 руб
                    a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.similar__card-btn.swiper-no-swiping(href='#') Купить
          li.list__item.similar__slider-slide.swiper-slide
            .card.card_theme_mobile.similar__card
              +rating('4,8')
              .card__image-wrapper.similar__card-image-wrapper
                picture
                  source(srcset= require('@img/products/5_320.png') media='(max-width: 600px)')
                  img.card__img(src= require('@img/products/5.png') alt="Диван из шинила “W-95”")
              .card__content-wrapper
                h3.card__title Диван из шинила “W-95”
                .card__content
                  .card__content-item
                    .card__price-group
                      .card__price 22 990 руб
                    a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.similar__card-btn.swiper-no-swiping(href='#') Купить
          li.list__item.similar__slider-slide.swiper-slide
            .card.card_theme_mobile.similar__card
              +rating('4,8')
              .card__image-wrapper.similar__card-image-wrapper
                picture
                  source(srcset= require('@img/products/6_320.png') media='(max-width: 600px)')
                  img.card__img(src= require('@img/products/6.png') alt="Диван флоковый “G-41”")
              .card__content-wrapper
                h3.card__title Диван флоковый “G-41”
                .card__content
                  .card__content-item
                    .card__price-group
                      .card__price 17 990 руб
                    a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.similar__card-btn.swiper-no-swiping(href='#') Купить
          li.list__item.similar__slider-slide.swiper-slide
            .card.card_theme_mobile.similar__card
              +rating('4,8')
              .card__image-wrapper.similar__card-image-wrapper
                picture
                  source(srcset= require('@img/products/7_320.png') media='(max-width: 600px)')
                  img.card__img(src= require('@img/products/7.png') alt="Диван шиниловый “V-43”")
              .card__content-wrapper
                h3.card__title Диван шиниловый “V-43”
                .card__content
                  .card__content-item
                    .card__price-group
                      .card__price 19 990 руб
                    a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.similar__card-btn.swiper-no-swiping(href='#') Купить
          li.list__item.similar__slider-slide.swiper-slide
            .card.card_theme_mobile.similar__card
              +rating('4,7')
              .card__image-wrapper.similar__card-image-wrapper
                picture
                  source(srcset= require('@img/products/8_320.png') media='(max-width: 600px)')
                  img.card__img(src= require('@img/products/8.png') alt="Диван велюровый “S-99”")
              .card__content-wrapper
                h3.card__title Диван велюровый “S-99”
                .card__content
                  .card__content-item
                    .card__price-group
                      .card__price 19 990 руб
                    a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.similar__card-btn.swiper-no-swiping(href='#') Купить

