section.section.special-offer
  .container.special-offer__container
    .special-offer__wrapp
      h2.section__title.special-offer__title Специальные предложения
      +navSlides('special-offer__navigation', 'special-offer__navigation-prev', 'special-offer__navigation-next')
      .swiper.special-offer__slider
        .swiper-wrapper.special-offer__slider-wrapper
          .swiper-slide.special-offer__slider-slide.special-offer__slider-slide-1
            .card.special-offer__card
              +discount('- 9 000')
              .card__image-wrapper.special-offer__card-image-wrapper
                img.card__img(src= require('@img/special-offer/1.png') alt="Кресло велюровое “X-24”")
              .card__content-wrapper
                h3.card__title.special-offer__card-title Кресло велюровое “X-24”
                .card__content
                  .card__content-item
                    .card__price-group
                      .card__price.card__price_theme_accent 15 990 руб
                      .card__price.card__price_theme_through 24 990 руб
                    a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.swiper-no-swiping.special-offer__card-btn(href='productCard.html') Купить
          .swiper-slide.special-offer__slider-slide.special-offer__slider-slide-2
            .card.special-offer__card
              +discount('- 10 000')
              .card__image-wrapper.special-offer__card-image-wrapper
                picture
                  source(srcset= require('@img/special-offer/2-2.png') media='(max-width: 1200px)')
                  img.card__img(src= require('@img/special-offer/2.png') alt="Диван тканевый “Z-44”")
              .card__content-wrapper
                h3.card__title.special-offer__card-title Диван тканевый “Z-44”
                .card__content
                  .card__content-item
                    .card__price-group
                      .card__price.card__price_theme_accent 22 990 руб
                      .card__price.card__price_theme_through 32 990 руб
                    a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.swiper-no-swiping.special-offer__card-btn(href='productCard.html') Купить
                  .card__content-item
                    img.card__img-scheme(src= require('@img/special-offer/2_scheme.png') alt="")
          .swiper-slide.special-offer__slider-slide.special-offer__slider-slide-3
            .card.special-offer__card
              +discount('- 600')
              .card__image-wrapper.special-offer__card-image-wrapper
                img.card__img(src= require('@img/special-offer/3.png') alt="Будильник")
              .card__content-wrapper
                h3.card__title.special-offer__card-title Будильник  “Quartz-23”
                .card__content
                  .card__content-item
                    .card__price-group
                      .card__price.card__price_theme_accent 1 290 руб
                      .card__price.card__price_theme_through 1 890 руб
                    a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.swiper-no-swiping.special-offer__card-btn(href='productCard.html') Купить
          .swiper-slide.special-offer__slider-slide.special-offer__slider-slide-1
            .card.special-offer__card
              +discount('- 300')
              .card__image-wrapper.special-offer__card-image-wrapper
                img.card__img(src= require('@img/special-offer/4.png') alt="Мини-скульптура “Oh my deer”")
              .card__content-wrapper
                h3.card__title.special-offer__card-title Мини-скульптура “Oh my deer”
                .card__content
                  .card__content-item
                    .card__price-group
                      .card__price.card__price_theme_accent 690 руб
                      .card__price.card__price_theme_through 990 руб
                    a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.swiper-no-swiping.special-offer__card-btn(href='productCard.html') Купить
          .swiper-slide.special-offer__slider-slide.special-offer__slider-slide-2
            .card.special-offer__card
              +discount('- 10 000')
              .card__image-wrapper.special-offer__card-image-wrapper
                picture
                  source(srcset= require('@img/special-offer/5-2.png') media='(max-width: 1200px)')
                  img.card__img(src= require('@img/special-offer/5.png') alt="Диван вел-флок “Z-85”")
              .card__content-wrapper
                h3.card__title.special-offer__card-title Диван вел-флок “Z-85”
                .card__content
                  .card__content-item
                    .card__price-group
                      .card__price.card__price_theme_accent 22 990 руб
                      .card__price.card__price_theme_through 32 990 руб
                    a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.swiper-no-swiping.special-offer__card-btn(href='productCard.html') Купить
                  .card__content-item
                    img.card__img-scheme(src= require('@img/special-offer/5_scheme.png') alt="Диван вел-флок “Z-85”")
          .swiper-slide.special-offer__slider-slide.special-offer__slider-slide-3
            .card.special-offer__card
              +discount('- 700')
              .card__image-wrapper.special-offer__card-image-wrapper
                img.card__img(src= require('@img/special-offer/6.png') alt="Термометр + гидрометр “H-18”")
              .card__content-wrapper
                h3.card__title.special-offer__card-title Термометр + гидрометр “H-18”
                .card__content
                  .card__content-item
                    .card__price-group
                      .card__price.card__price_theme_accent 1 390 руб
                      .card__price.card__price_theme_through 2 090 руб
                    a.link.btn.btn-primary.btn-primary_theme_secondary.card__btn.swiper-no-swiping.special-offer__card-btn(href='productCard.html') Купить
