section.section.top-category
  .container.top-category__container
    h2.section__title.top-category__title Топ категории
    ul.list.top-category__grid
      li.list__item.top-category__grid-item
        .top-category__card.card
          .card__header
            +nav('top-category__nav', 'top-category__nav-list')
              +navItem('top-category__nav-item', 'Прямые', '/catalog.html',
              'link-primary',
              'link-primary_theme_secondary',
              'top-category__nav-link'
              )
              +navItem('top-category__nav-item', 'Угловые', '/catalog.html',
              'link-primary',
              'link-primary_theme_secondary',
              'top-category__nav-link'
              )
              +navItem('top-category__nav-item', 'Модульные', '/catalog.html',
              'link-primary',
              'link-primary_theme_secondary',
              'top-category__nav-link'
              )
            h3.card__title.top-category__card-title
              span.top-category__card-title-main Диваны
              a.link.icon.top-category__card-title-link(href='/catalog.html')
                span.top-category__card-title-text Диваны
                svg.icon__arrow.top-category__card-title-svg(width='22' height='22' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                  circle(cx='16' cy='16' r='15' stroke-width='2')
                  path(d='M14 11L19 16L14 21' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          .card__image-wrapper.top-category__image-wrapper
            picture
              //- source(srcset= require('@img/top-category/1_1024.png') media='(max-width: 1200px)')
              source(srcset= require('@img/top-category/1_320.png') media='(max-width: 600px)')
              img.card__img(src= require('@img/top-category/1.png') alt="Диван")
          .card__content-wrapper.top-category__content-wrapper
            a.card__link.icon.link(href= '/catalog.html')
              span.card__link-text В каталог
              svg.icon__arrow.card__link-svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                circle(cx='16' cy='16' r='15' stroke-width='2')
                path(d='M14 11L19 16L14 21' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      li.list__item.top-category__grid-item
        .top-category__card.card
          .card__header
            +nav('top-category__nav', 'top-category__nav-list')
              +navItem('top-category__nav-item', 'Мягкие', '/catalog.html',
              'link-primary',
              'link-primary_theme_secondary',
              'top-category__nav-link'
              )
              +navItem('top-category__nav-item', 'Кресла-кровати', '/catalog.html',
              'link-primary',
              'link-primary_theme_secondary',
              'top-category__nav-link'
              )
            h3.card__title.top-category__card-title
              span.top-category__card-title-main Кресла
              a.link.icon.top-category__card-title-link(href='/catalog.html')
                span.top-category__card-title-text Кресла
                svg.icon__arrow.top-category__card-title-svg(width='22' height='22' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                  circle(cx='16' cy='16' r='15' stroke-width='2')
                  path(d='M14 11L19 16L14 21' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          .card__image-wrapper.top-category__image-wrapper
            picture
              source(srcset= require('@img/top-category/2_320.png') media='(max-width: 600px)')
              source(srcset= require('@img/top-category/2_1024.png') media='(max-width: 1200px)')
              img.card__img(src= require('@img/top-category/2.png') alt="Кресла")
          .card__content-wrapper.top-category__content-wrapper
            a.card__link.icon.link(href= '/catalog.html')
              span.card__link-text В каталог
              svg.icon__arrow.card__link-svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                circle(cx='16' cy='16' r='15' stroke-width='2')
                path(d='M14 11L19 16L14 21' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      li.list__item.top-category__grid-item
        .top-category__card.card
          .card__header
            +nav('top-category__nav', 'top-category__nav-list')
              +navItem('top-category__nav-item', 'Односпальные', '/catalog.html',
              'link-primary',
              'link-primary_theme_secondary',
              'top-category__nav-link'
              )
              +navItem('top-category__nav-item', 'Двуспальные', '/catalog.html',
              'link-primary',
              'link-primary_theme_secondary',
              'top-category__nav-link'
              )
            h3.card__title.top-category__card-title
              span.top-category__card-title-main Кровати
              a.link.icon.top-category__card-title-link(href='/catalog.html')
                span.top-category__card-title-text Кровати
                svg.icon__arrow.top-category__card-title-svg(width='22' height='22' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                  circle(cx='16' cy='16' r='15' stroke-width='2')
                  path(d='M14 11L19 16L14 21' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          .card__image-wrapper.top-category__image-wrapper
            picture
              source(srcset= require('@img/top-category/3_320.png') media='(max-width: 600px)')
              source(srcset= require('@img/top-category/3_1024.png') media='(max-width: 1200px)')
              img.card__img(src= require('@img/top-category/3.png') alt="Кровать")
          .card__content-wrapper.top-category__content-wrapper
            a.card__link.icon.link(href= '/catalog.html')
              span.card__link-text В каталог
              svg.icon__arrow.card__link-svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                circle(cx='16' cy='16' r='15' stroke-width='2')
                path(d='M14 11L19 16L14 21' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      li.list__item.top-category__grid-item
        .top-category__card.card
          .card__header
            +nav('top-category__nav', 'top-category__nav-list')
              +navItem('top-category__nav-item', 'Тумбы', '/catalog.html',
              'link-primary',
              'link-primary_theme_secondary',
              'top-category__nav-link'
              )
              +navItem('top-category__nav-item', 'Комоды', '/catalog.html',
              'link-primary',
              'link-primary_theme_secondary',
              'top-category__nav-link'
              )
            h3.card__title.top-category__card-title
              span.top-category__card-title-main Тумбы и комоды
              a.link.icon.top-category__card-title-link(href='/catalog.html')
                span.top-category__card-title-text Тумбы и комоды
                svg.icon__arrow.top-category__card-title-svg(width='22' height='22' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                  circle(cx='16' cy='16' r='15' stroke-width='2')
                  path(d='M14 11L19 16L14 21' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          .card__image-wrapper.top-category__image-wrapper
            picture
              source(srcset= require('@img/top-category/4_320.png') media='(max-width: 600px)')
              source(srcset= require('@img/top-category/4_1024.png') media='(max-width: 1200px)')
              img.card__img(src= require('@img/top-category/4.png') alt="Тумба")
          .card__content-wrapper.top-category__content-wrapper
            a.card__link.icon.link(href= '/catalog.html')
              span.card__link-text В каталог
              svg.icon__arrow.card__link-svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                circle(cx='16' cy='16' r='15' stroke-width='2')
                path(d='M14 11L19 16L14 21' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      li.list__item.top-category__grid-item
        .top-category__card.card
          .card__header
            +nav('top-category__nav', 'top-category__nav-list')
              +navItem('top-category__nav-item', 'Деревянные', '/catalog.html',
              'link-primary',
              'link-primary_theme_secondary',
              'top-category__nav-link'
              )
              +navItem('top-category__nav-item', 'Металлокаркас', '/catalog.html',
              'link-primary',
              'link-primary_theme_secondary',
              'top-category__nav-link'
              )
            h3.card__title.top-category__card-title
              span.top-category__card-title-main Стулья
              a.link.icon.top-category__card-title-link(href='/catalog.html')
                span.top-category__card-title-text Стулья
                svg.icon__arrow.top-category__card-title-svg(width='22' height='22' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                  circle(cx='16' cy='16' r='15' stroke-width='2')
                  path(d='M14 11L19 16L14 21' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          .card__image-wrapper.top-category__image-wrapper
            picture
              source(srcset= require('@img/top-category/5_320.png') media='(max-width: 600px)')
              source(srcset= require('@img/top-category/5_1024.png') media='(max-width: 1200px)')
              img.card__img(src= require('@img/top-category/5.png') alt="Стулья")
          .card__content-wrapper.top-category__content-wrapper
            a.card__link.icon.link(href= '/catalog.html')
              span.card__link-text В каталог
              svg.icon__arrow.card__link-svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                circle(cx='16' cy='16' r='15' stroke-width='2')
                path(d='M14 11L19 16L14 21' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
