section.section.useful
  .container
    .useful__content
      h2.section__title.useful__title Полезное
      +navSlides('useful__navigation', 'useful__navigation-prev', 'useful__navigation-next')
      .swiper.useful__slider
        .swiper-wrapper.useful__slider-wrapper
          .swiper-slide.useful__slider-slide
            .card.useful__card
              .card__image-wrapper.useful__card-image-wrapper
                img.card__img(src= require('@img/useful/1.jpg') alt="")
              .card__content-wrapper.useful__card-content-wrapper
                p.useful__card-desc И нет сомнений, что сделанные на базе интернет-аналитики выводы представляют собой не что иное?
                a.link.btn.btn-primary.btn-primary_theme_secondary.useful__card-btn(href='#') Читать
          .swiper-slide.useful__slider-slide
            .card.useful__card
              .card__image-wrapper.useful__card-image-wrapper
                img.card__img(src= require('@img/useful/2.jpg') alt="")
              .card__content-wrapper.useful__card-content-wrapper
                p.useful__card-desc Как принято считать, некоторые особенности приносят несомненную пользу обществу?
                a.link.btn.btn-primary.btn-primary_theme_secondary.useful__card-btn(href='#') Читать
          .swiper-slide.useful__slider-slide
            .card.useful__card
              .card__image-wrapper.useful__card-image-wrapper
                img.card__img(src= require('@img/useful/3.jpg') alt="")
              .card__content-wrapper.useful__card-content-wrapper
                p.useful__card-desc Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры?
                a.link.btn.btn-primary.btn-primary_theme_secondary.useful__card-btn(href='#') Читать
          .swiper-slide.useful__slider-slide
            .card.useful__card
              .card__image-wrapper.useful__card-image-wrapper
                img.card__img(src= require('@img/useful/4.jpg') alt="")
              .card__content-wrapper.useful__card-content-wrapper
                p.useful__card-desc Прежде всего, консультация с широким активом однозначно фиксирует необходимость распределения?
                a.link.btn.btn-primary.btn-primary_theme_secondary.useful__card-btn(href='#') Читать
          .swiper-slide.useful__slider-slide
            .card.useful__card
              .card__image-wrapper.useful__card-image-wrapper
                img.card__img(src= require('@img/useful/5.jpg') alt="")
              .card__content-wrapper.useful__card-content-wrapper
                p.useful__card-desc Как принято считать, некоторые особенности приносят несомненную пользу обществу?
                a.link.btn.btn-primary.btn-primary_theme_secondary.useful__card-btn(href='#') Читать