extends ./layout/main

block variables
  - var title = 'Каталог'
  - var description = 'Catalog page SitDownPls'
  - var pageClass = 'catalog-page'

block head
  script(src=require('../js/sections/catalog.js'), defer)

block content
  +breadcrumbs()
    +navItem('breadcrumbs__nav-item', 'Главная', '/',
      'link-primary',
      'link-primary_theme_secondary',
      'breadcrumbs__nav-link'
    )
    +navItem('breadcrumbs__nav-item', 'Каталог', '/catalog.html',
      'link-primary',
      'link-primary_theme_secondary',
      'breadcrumbs__nav-link'
    )
    +navItem('breadcrumbs__nav-item', 'Диваны', '/catalog.html',
      'link-primary',
      'link-primary_theme_secondary',
      'breadcrumbs__nav-link'
    )
    li.nav__item.breadcrumbs__nav-item
      p.text.nav__link.breadcrumbs__nav-link-last Прямые диваны

  include ./includes/catalog
