extends ./layout/main

block variables
  - var title = 'SitDownPls'
  - var description = 'Site SitDownPls make for course from Skillbox'
  - var pageClass = 'idnex-page'

block head
  script(src=require('../js/sections/main.js'), defer)

block content
  include ./includes/hero
  include ./includes/special-offer
  include ./includes/high-rating
  include ./includes/banner
  include ./includes/top-category
  include ./includes/useful
  include ./includes/feedback