extends ./layout/main

block variables
  - var title = 'Product card'
  - var description = 'Product card page SitDownPls'
  - var pageClass = 'product-card-page'

block head
  script(src=require('../js/sections/productCard.js'), defer)

block content
  +breadcrumbs()
    +navItem('breadcrumbs__nav-item', 'Главная', '/',
      'link-primary',
      'link-primary_theme_secondary',
      'breadcrumbs__nav-link'
    )
    +navItem('breadcrumbs__nav-item', 'Каталог', '/catalog.html',
      'link-primary',
      'link-primary_theme_secondary',
      'breadcrumbs__nav-link'
    )
    +navItem('breadcrumbs__nav-item', 'Диваны', '/catalog.html',
      'link-primary',
      'link-primary_theme_secondary',
      'breadcrumbs__nav-link'
    )
    +navItem('breadcrumbs__nav-item', 'Прямые диваны', '/productCard.html',
      'link-primary',
      'link-primary_theme_secondary',
      'breadcrumbs__nav-link'
    )
    li.nav__item.breadcrumbs__nav-item
      p.text.nav__link.breadcrumbs__nav-link-last D-31

  include ./includes/product-card
  include ./includes/similar