/* Fonts ========================================================================== */

// Example handle method (without mixin):
// Base Muller (example):

@font-face {
  font-family: "Open Sans";
  src: url("@fonts/OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("@fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("@fonts/OpenSans-Regular.woff2") format("woff2"), url("@fonts/OpenSans-Regular.woff") format("woff"),
    url("@fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("@fonts/OpenSans-SemiBold.eot");
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url("@fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("@fonts/OpenSans-SemiBold.woff2") format("woff2"), url("@fonts/OpenSans-SemiBold.woff") format("woff"),
    url("@fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("@fonts/OpenSans-Bold.eot");
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("@fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("@fonts/OpenSans-Bold.woff2") format("woff2"), url("@fonts/OpenSans-Bold.woff") format("woff"),
    url("@fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display Black";
  src: url("@fonts/PlayfairDisplay-Black.eot");
  src: url("@fonts/PlayfairDisplay-Black.eot?#iefix") format("embedded-opentype"),
    url("@fonts/PlayfairDisplay-Black.woff2") format("woff2"), url("@fonts/PlayfairDisplay-Black.woff") format("woff"),
    url("@fonts/PlayfairDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
