// /* Reset ========================================================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

// // Links
// a {
//   text-decoration: none;
//   &:active,
//   &:hover {
//     outline: 0;
//   }
// }


// // Headlines
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-size: 100%;
//   font-weight: normal;
// }

// // Default



// // From
// textarea {
//   resize: none; /*remove the resize handle on the bottom right*/
//   overflow: auto;
//   vertical-align: top;
//   box-shadow: none;
//   -webkit-box-shadow: none;
//   -moz-box-shadow: none;
// }