/* Vars:
  ========================================================================== */

// Font
$main-font               : 'Open Sans', sans-serif;

// Size
$main-color              : #333333;
$main-secondary-color    : #666666;
$main-font-size          : 16px;
$main-font-weight        : 400;
$main-line-height        : 1.3;

$big-desktop-width       : 2000px; // 2000px
$desktop-width           : 1200px; // 1280px 1200px
$table-width             : 992px; // 768px 992px
$sm-table-width          : 600px; // 640px 600px

// Main color
$white-color             : #ffffff;
$primary-color           : #A65CF0;
$primary-light-color     : #C998FB;
$primary-shade-color     : #7033AC;
$secondary-color         : #FF862F;
$secondary-light-color   : #FFBD59;
$secondary-shade-color   : #BB370E;

$gray-color              : #999999;
$gray-light-color        : #F7F7F7;
$disable-bg-color        : #EAEAEA;
$pink-light-color        : #F8EFFF;
$pink-violet-color       : #EBD1FF;
$bone-color              : #FFF5D1;
$green-input-color       : #B8EC64;
$red-input-color         : #FF6972;
$gold-color              : #D5B986;