.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1352px;
  padding-left: 36px;
  padding-right: 36px;
}

// MEDIA
// phones, 1200 and down
@media (max-width: $desktop-width) {}
// phones, 992px and down


// phones, 2k and down
@media (min-width: $big-desktop-width) {}

