// phones, 600px and down
@media (max-width: $sm-table-width) {
  .card {
    &_theme_mobile {
      min-height: 278px;

      & .card__content-wrapper {
        padding: 0 16px 16px 16px;
      }

      & .card__image-wrapper {
        min-height: 106px;
        padding-bottom: 10px;
      }

      & .rating {
        font-size: pxToRem(12px);
        top: 16px;
        left: 16px;
        &__svg {
          width: 13px;
          height: 12px;
        }
      }

      & .card__title, & .card__price {
        font-size: pxToRem(16px);
      }

      & .card__title {
        margin-bottom: 17px;
      }

      & .card__price-group {
        margin-bottom: 15px;
      }

      & .card__btn {
        padding: 7px 23px;
      }
    }
  }
}
