.card {
  background-color: $gray-light-color;
  border-radius: 10px;
  min-height: 511px;
  display: flex;
  flex-direction: column;
  position: relative;

  &__header {
    padding: 30px 30px 30px;
  }

  &__image {
    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 16px;
      min-height: 207px;
    }
  }

  &__img {
    max-width: 100%;
    display: block;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    &-wrapper {
      padding: 0 30px 30px 30px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: pxToRem(24px);
    line-height: 130%;
  }

  &__price {
    font-size: pxToRem(16px);
    line-height: 130%;
    color: $gray-color;
    &-group {
      display: flex;
      align-items: flex-end;
      margin-bottom: 24px;
    }

    &_theme {
      &_accent {
        color: $secondary-color;
        font-size: pxToRem(18px);
        margin-right: 30px;
      }
      &_through {
        text-decoration-line: line-through;
      }
    }
  }

  &__btn {
    align-self: flex-start;
    padding: 14px 33px;
  }

  &__link {
    color: $primary-color;
    font-size: pxToRem(16px);
    font-weight: 700;
    display: flex;
    align-items: center;
    align-self: flex-start;

    &-text {
      position: relative;
      margin-right: 5px;
      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $primary-color;
        opacity: 0;
        @include transition;
        transition-property: opacity, bacground-color;
      }
    }

    &-svg {
      width: 22px;
      height: 22px;
    }

    &:focus &-text::after {
      opacity: 1;
    }

    &:hover &-text::after {
      opacity: 1;
    }

    &:active {
      color: $primary-shade-color;
    }

    &:active &-text::after {
      opacity: 1;
      background-color: $primary-shade-color;
    }
  }
}