.discount {
  position: absolute;
  top: 30px;
  color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    content: attr(data-discount-value);
    position: absolute;
    // top: 0;
    padding-right: 10px;
    color: $white-color;
    font-weight: 700;
    font-size: pxToRem(14px);
  }
}