.burger {
  position: inherit;
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 30px;
    position: relative;
    z-index: 150;
    border: none;
    background-color: transparent;
    padding: 0;

    &--active &-stick {
      transform: translateX(-50px);
      background-color: transparent;
    }

    &--active &-stick::before {
      transform: rotate(45deg) translate(35px, -35px);
    }

    &--active &-stick::after {
      transform: rotate(-45deg) translate(35px, 35px);
    }

    &-stick {
      position: relative;
      width: 24px;
      height: 3px;
      background-color: $primary-color;
      border-radius: 4px;
      transition-property: transform, background-color;
      @include transition;

      &::before,
      &::after {
        position: absolute;
        left: 0;
        content: '';
        width: 24px;
        height: 3px;
        background-color: $primary-color;
        border-radius: 4px;
        transition-property: transform;
        @include transition;
      }

      &::before {
        transform: translateY(-10px);
      }

      &::after {
        transform: translateY(10px);
      }
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    min-height: 300px;
    opacity: 0;
    @include transition;
    transition-property: opacity, visibility;
    visibility: hidden;
    &--active {
      opacity: 1;
      visibility: visible;
    }
  }
}
