.btn {
  display: inline-flex;
  align-content: center;
  cursor: pointer;
  background-color: transparent;
  @include transition;

  border: none;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  line-height: normal;

  &-primary {
    transition-property: background-color, border-color, color;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;

    &_theme {
      &_primary {
        color: $white-color;
        background-color: $primary-color;
        font-weight: 700;
        border-color: $primary-color;

        &:focus {
          background-color: $primary-light-color;
          border-color: $primary-shade-color;
        }

        &:hover {
          background-color: $primary-light-color;
          border-color: $primary-light-color;
        }
      }

      &_secondary {
        color: $primary-color;
        font-weight: 600;
        border-color: $primary-color;

        &:focus {
          color: $white-color;
          background-color: $primary-light-color;
          border-color: $primary-color;
        }

        &:hover {
          color: $white-color;
          background-color: $primary-color;
          border-color: $primary-color;
        }

        &:active {
          color: $white-color;
        }
      }
    }

    &:active {
      background-color: $primary-shade-color;
      border-color: $primary-shade-color;
    }

    &:disabled {
      cursor: not-allowed;
      color: $gray-color;
      border-color: $disable-bg-color;
      background-color: $disable-bg-color;
    }
  }

  &-secondary {
    transition-property: color, background-color;
    &_theme {
      &_primary {
        color: $primary-color;
        &:focus {
          color: $primary-shade-color;
          background-color: $primary-light-color;
        }
        &:hover {
          color: $primary-light-color;
          background-color: transparent;
        }
        &:active {
          color: $primary-shade-color;
          background-color: transparent;
        }
      }
    }
  }
}
