.checkbox {
  display: flex;
  position: relative;
  padding-left: 22px;
  cursor: pointer;
  user-select: none;

  &_theme {
    &_big {
      padding-left: 32px;
      & .checkbox__mark {
        @include size(20px);
        border-radius: 2px;
        top: calc(50% - 10px);
        border-width: 1px;
      }
      & .checkbox__mark-svg {
        @include size(14px, 12px);
        top: calc(50% - 12px / 2);
        left: calc(50% - 12px / 2);
      }
    }
  }

  &:hover &__input:checked ~ &__mark {
    border-color: $primary-light-color;
    background-color: $primary-light-color;
  }

  &:hover &__input ~ &__mark {
    border-color: $primary-light-color;
  }

  &:active &__input:checked ~ &__mark {
    border-color: $primary-shade-color;
    background-color: $primary-shade-color;
  }

  &:active &__input ~ &__mark {
    border-color: $primary-shade-color;
  }

  & &__input:checked ~ &__mark {
    background-color: $primary-color;
  }
  & &__input:checked ~ &__mark &__mark-svg {
    opacity: 1;
  }

  &__input {
    display: none;
  }

  &__mark {
    position: absolute;
    @include size(14px);
    border: 2px solid $primary-color;
    border-radius: 2px;
    top: calc(50% - 14px / 2);
    left: 0;
    @include transition;
    transition-property: background-color, border-color;
    &-svg {
      @include transition;
      transition-property: opacity;
      opacity: 0;
      position: absolute;
      top: calc(50% - 4.5px);
      left: calc(50% - 5.5px);
    }
  }

  &__text {
    font-size: pxToRem(14px);
    line-height: pxToRem(19px);
  }
}
