.icon {
  &__arrow {
    & path {
      stroke: $primary-color;
      @include transition;
      transition-property: stroke;
    }
    & circle {
      stroke: $primary-color;
      @include transition;
      transition-property: stroke, fill;
    }
  }

  &:focus &__arrow {
    path {
      stroke: $white-color;
    }
    circle {
      fill: $primary-light-color;
      stroke: $primary-color;
    }
  }

  &:hover &__arrow {
    path {
      stroke: $white-color;
    }
    circle {
      fill: $primary-color;
    }
  }

  &:active &__arrow {
    path {
      stroke: $white-color;
    }
    circle {
      fill: $primary-shade-color;
      stroke: $primary-shade-color;
    }
  }

  &_disabled {
    cursor: auto;
    .icon__arrow {
      & path {
        stroke: $gray-color;
      }
      & circle {
        stroke: $gray-color;
      }
    }

    &:hover .icon__arrow {
      path {
        stroke: $gray-color;
      }
      circle {
        fill: $white-color;
      }
    }
    &:active .icon__arrow {
      path {
        // stroke: $white-color;
      }
      circle {
        // fill: $primary-shade-color;
        stroke: $gray-color;
      }
    }
  }
}