.input {
  min-height: 54px;
  border-radius: 10px;
  width: 100%;
  padding: 7px 16px;
  color: $main-color;
  border: 2px solid $gray-light-color;
  background-color: $gray-light-color;



  outline: none;
  // border: none;
  font-size: 100%;
  font: inherit;
  margin: 0;
  line-height: normal;

  @include transition;
  transition-property: border-color, background-color;
  &:placeholder {
    color: $gray-color;
  }

  &:focus {
    border-color: $primary-color;
    background-color: $pink-light-color;
  }

  &:hover {
    background-color: $disable-bg-color;
    border-color: $disable-bg-color;
  }

  &:active {
    background-color: $gray-light-color;
    border-color: $green-input-color;
  }



  &_theme {
    &_number {
      border-radius: 2px;
      border: 1px solid $gray-color;
      min-height: auto;
      &:focus {
        border-color: $primary-color;
        background-color: $pink-violet-color;
      }
      &:hover {
        border-color: $primary-color;
        background-color: transparent;
      }
      &:active {
        border-color: $primary-shade-color;
        background-color: transparent;
      }
    }

    &_error {
    }
  }

  &_hide_number {

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type="number"] {
      -moz-appearance: textfield;
    }
  }

  &.input--error {
    border-color: $red-input-color;
  }

  &-log {
    padding-left: 10px;
    color: $red-input-color;
    font-size: pxToRem(12px);
    line-height: pxToRem(16px);
    margin-bottom: 6px;
  }
}
