.link {
  display: inline-block;
  cursor: pointer;
  @include transition;
  font: inherit;
  color: inherit;
  text-decoration: none;
  text-decoration-skip-ink: auto;

  &:active,
  &:hover,
  &:focus {
    outline: 0;
  }

  &-primary {
    transition-property: background-color, color;
    &_theme {
      &_primary {
        color: $main-color;
        font-size: pxToRem(16);
        line-height: 1;
        &:focus {
          background-color: $pink-violet-color;
          color: $primary-shade-color;
        }
      }

      &_secondary {
        color: $gray-color;
        font-size: pxToRem(14);
        line-height: 1;
        &:focus {
          background-color: $pink-violet-color;
          color: $main-color;
        }
      }
    }

    &:hover {
      background-color: transparent;
      color: $primary-color;
    }

    &:active {
      color: $primary-shade-color;
    }
  }

  &-icon {
    padding: 3px;
    transition-property: background-color;
    & .link__svg {
      @include transition;
      transition-property: color;
      color: $gray-color;
    }

    &:focus {
      background-color: $primary-light-color;
      & .link__svg {
        color: $white-color;
      }
    }

    &:hover {
      background-color: transparent;
      & .link__svg {
        color: $primary-color;
      }
    }

    &:active {
      background-color: transparent;
      & .link__svg {
        color: $primary-shade-color;
      }
    }
  }

  &-phone {
    display: flex;
    align-items: center;
    color: $secondary-color;
    font-size: pxToRem(14);
    & .link-svg {
      margin-right: 2px;
      @include transition;
      transition-property: color;
    }

    &:focus {
      color: $secondary-color;
      background-color: $bone-color;
      & .link-svg {
        color: $secondary-color;
      }
    }

    &:hover {
      color: $secondary-light-color;
      background-color: transparent;
      & .link-svg {
        color: $secondary-light-color;
      }
    }

    &:active {
      color: $secondary-shade-color;
      background-color: transparent;
      & .link-svg {
        color: $secondary-shade-color;
      }
    }
  }

  &-underline {
    text-decoration: underline;
    color: $primary-color;
    &:hover {
      color: $primary-shade-color;
    }
  }
}
