.menu {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__link {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    // padding: 4px;

    &:focus {
      background-color: $primary-light-color;
      & .menu__svg {
        color: $white-color;
      }
    }
    &:hover {
      background-color: transparent;
      & .menu__svg {
        color: $primary-light-color;
      }
    }
    &:active {
      background-color: transparent;
      & .menu__svg {
        color: $primary-shade-color;
      }
    }

    // &-user {}
    &-cart {
      @include size(49px, 34px);
    }
  }

  &__svg {
    color: $primary-color;
    transition-property: color;
    @include transition;
    &-user {
      @include size(26px, 28px);
    }
    &-cart {
      @include size(30px, 28px);
    }
  }

  &__cart-count {
    position: absolute;
    top: 8px;
    left: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;
    @include size(14px, 15px);
    border-radius: 50%;
    &::after {
      content: attr(data-cart-count);
      color: $white-color;
      font-size: pxToRem(10px);
      font-weight: 700;
    }
  }
}
