.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;

  width: 100vw;
  height: 100vh;

  &.modal--hide {
    visibility: hidden;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0);

    display: flex;
    align-items: center;
    justify-content: center;

    &.modal__overlay--open {
      @include transition;
      transition-property: background-color;
      background-color: rgba(51, 51, 51, 0.7);
    }

    &.modal__overlay--close {
      @include transition;
      transition-property: background-color;
      background-color: rgba(51, 51, 51, 0);
    }
  }

  &__box {
    display: flex;
    position: relative;
    border-radius: 10px;
    @include transition;
    transition-property: transform;
    transform: translateY(-1000px);
    background-color: $white-color;
    margin: 0 auto;

    &.modal__box--open {
      transform: translateY(0);
    }
  }

  &__close {
    position: absolute;
    top: 18px;
    right: 18px;
    padding: 2px;
    color: $gray-color;
    &:focus {
      background-color: $primary-light-color;
      color: $primary-shade-color;
    }

    &:hover {
      background-color: transparent;
      color: $primary-color;
    }

    &:active {
      background-color: transparent;
      color: $primary-shade-color;
    }
  }
}
