.search {
  width: 100%;
  display: flex;
  &__input {
    border-radius: 10px 0 0 10px;
    &-grup {
      position: relative;
      flex: 2;
    }

    &-glass {
      color: $gray-color;
      position: absolute;
      left: 34px;
      top: 22px;
    }

    &-submit {
      position: absolute;
      right: 32px;
      top: 14px;
    }
  }
}