.sity-select {
  display: inline-flex;
  min-width: 80px;
  font-size: pxToRem(16);

  position: relative;
  overflow: hidden;
  color: $primary-color;

  &[hidden] {
    display: none !important;
  }

  &.is-open {
    overflow: visible;
  }

  &[data-type*=select-one] {
    cursor: pointer;
  }

  transition-property: background-color, color;
  @include transition;

  &:focus {
    outline: none;
    background-color: $pink-violet-color;
  }

  &:hover {
    background-color: transparent;
    color: $primary-light-color;
  }

  &:hover &__svg {
    color: $primary-light-color;
  }

  &:active {
    color: $primary-shade-color;
    background-color: transparent;
  }

  &.is-open {
    background-color: transparent;
    &:focus {
      outline: none;
      background-color: transparent;
    }

    &:hover {
      background-color: transparent;
      color: $primary-color;
    }

    &:hover &__svg {
      color: $primary-color;
    }

    &:active {
      color: $primary-color;
      background-color: transparent;
    }
  }

  &__item--choice {
    transition-property: background-color, color;
    @include transition;
    color: $main-color;
    padding: 0 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    &:focus {
      background-color: $pink-violet-color;
    }
    &:hover {
      color: $primary-color;
      background-color: transparent;
    }
    &:active {
      color: $primary-shade-color;
      background-color: transparent;
    }

    &.is-highlighted {
      background-color: $pink-violet-color;
      &:hover {
        background-color: transparent;
      }
    }
  }

  .is-selected {
    display: none;
  }

  &__svg {
    color: $primary-color;
    position: absolute;
    right: 5px;
    top: 40%;
    pointer-events: none;
    transition-property: transform, color;
    @include transition;
  }

  &.is-open &__svg {
    transform: rotate3d(1, 0, 0, 180deg);
    top: 40%;
  }

}

.sity-select__list--dropdown, .sity-select__list[aria-expanded] {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  width: 100%;
  background-color: $white-color;
  border: 2px solid $gray-light-color ;
  top: 100%;
  overflow: hidden;
  word-break: break-all;
  will-change: visibility;
}
.is-active.sity-select__list--dropdown, .is-active.sity-select__list[aria-expanded] {
  visibility: visible;
}
