.toggle {
  position: relative;
  &__btn {
    border: 2px solid $gray-light-color;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: $primary-color;
    background-color: $white-color;
    position: relative;
    z-index: 10;

    &:focus {
      border-color: $primary-color;
      background-color: $pink-light-color;
    }

    &:hover {
      border-color: $primary-color;
      background-color: $white-color;
    }

    &:active {
      border-color: $primary-shade-color;
      background-color: $white-color;
    }

    &--active {
      border-color: $gray-light-color;
      background-color: $white-color;
      & .toggle__svg {
        transform: rotateX(180deg);
      }
    }
  }

  &__svg {
    @include transition;
    transition-property: transform;
  }

  &__content {
    background-color: $white-color;
    border: 1px solid $gray-light-color;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    top: 54px;
    left: 0;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    @include transition;
    transition-property: visibility, opacity, transform;
    width: 100%;
    &.toggle__content--active {
      visibility: visible;
      opacity: 1;
    }
  }
}
