.tooltip {
  position: relative;
  display: inline-block;
  margin-left: 4px;

  &:hover &__popup,
  &:focus &__popup {
    opacity: 1;
    visibility: visible;
  }
  &:hover &__svg,
  &:focus &__svg {
    color: $secondary-shade-color;
    fill: black;
  }
  cursor: auto;

  &__svg {
    display: inline-block;
    width: 14px;
    height: 14px;
    cursor: pointer;
    color: $secondary-color;
    @include transition;
    transition-property: color;
  }

  &__popup {
    position: absolute;
    top: calc(-52px - 8px);
    left: calc(-157px / 2 + 16px / 2);
    min-width: 157px;
    min-height: 52px;

    background-color: $main-color;

    font-weight: 500;
    font-size: pxToRem(9px);
    line-height: pxToRem(14px);
    color: $white-color;
    text-align: center;

    padding: 5px;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    @include transition;
    transition-property: opacity, visibility;
    &::after {
      content: "";
      position: absolute;
      bottom: -8px;
      left: calc(50% - 17px / 2);
      width: 17px;
      height: 8px;
      background-color: red;
      z-index: 50;
      background: url("@img/tooltip-triangle.png") no-repeat center center;
    }
  }
}
