footer.footer#footer
  .footer__top
    .container
      .footer__content
        .footer__content-left
          +logo('footer__logo')
          +nav('footer__social', 'footer__social-list')
            +navItem('footer__social-item', '', '#', 'link-icon', 'footer__social-link')
              svg.link__svg.footer__social-link-svg(aria-hidden='true' width='30' height='30' viewBox='0 0 30 30')
                use(xlink:href='#fb')
            +navItem('footer__social-item', '', '#', 'link-icon', 'footer__social-link')
              svg.link__svg.footer__social-link-svg(aria-hidden='true' width='30' height='30' viewBox='0 0 30 30')
                use(xlink:href='#vk')
            +navItem('footer__social-item', '', '#', 'link-icon', 'footer__social-link')
              svg.link__svg.footer__social-link-svg(aria-hidden='true' width='30' height='30' viewBox='0 0 30 30')
                use(xlink:href='#instagram')
        .footer__content-right
          +nav('footer__nav', 'footer__nav-list')
            +navItem('footer__nav-item', 'О нас', '#', 'footer__nav-link', 'link-primary', 'link-primary_theme_primary')
            +navItem('footer__nav-item', 'О компании', '#', 'footer__nav-link', 'link-primary', 'link-primary_theme_secondary')
            +navItem('footer__nav-item', 'Блог', '#', 'footer__nav-link', 'link-primary', 'link-primary_theme_secondary')
          +nav('footer__nav', 'footer__nav-list')
            +navItem('footer__nav-item', 'Услуги', '#', 'footer__nav-link', 'link-primary', 'link-primary_theme_primary')
            +navItem('footer__nav-item', 'Доставка', '#', 'footer__nav-link', 'link-primary', 'link-primary_theme_secondary')
            +navItem('footer__nav-item', 'Рассрочка и кредит', '#', 'footer__nav-link', 'link-primary', 'link-primary_theme_secondary')
            +navItem('footer__nav-item', 'Сборка и установка', '#', 'footer__nav-link', 'link-primary', 'link-primary_theme_secondary')
          +nav('footer__nav', 'footer__nav-list')
            +navItem('footer__nav-item', 'Связь с нами', '#', 'footer__nav-link', 'link-primary', 'link-primary_theme_primary')
            +navItem('footer__nav-item', 'Обратная связь', '#', 'footer__nav-link', 'link-primary', 'link-primary_theme_secondary')
            +navItem('footer__nav-item', 'Контакты', '#', 'footer__nav-link', 'link-primary', 'link-primary_theme_secondary')
          +nav('footer__nav', 'footer__nav-list')
            +navItem('footer__nav-item', 'Сотрудничество', '#', 'footer__nav-link', 'link-primary', 'link-primary_theme_primary')
            +navItem('footer__nav-item', 'Поставщикам', '#', 'footer__nav-link', 'link-primary', 'link-primary_theme_secondary')
            +navItem('footer__nav-item', 'Оптовикам', '#', 'footer__nav-link', 'link-primary', 'link-primary_theme_secondary')
            +navItem('footer__nav-item', 'Карьера', '#', 'footer__nav-link', 'link-primary', 'link-primary_theme_secondary')
  .footer__bottom
    | SDP®   2011-2021