header.header.section
  .header__mobile
    .container
      .header__mobile-content
        +logo('header__mobile-logo')
  .header__top
    .container.header__top-container
      .header__top-content
        .header__top-select-wrap
          label.header__top-select-lable(for='sity-select') Ваш регион:
          select#sity-select(name='sity')
            option(value='Москва') Москва
            option(value='Казань') Казань
            option(value='Уфа') Уфа
            option(value='Пермь') Пермь
        a.link.link-phone.header__top-phone(href='tel:+74958854547')
          svg.link-svg(aria-hidden='true' width='18' height='18' viewBox='0 0 18 18')
            use(xlink:href='#phone')
          | +7 (495) 885-45-47
        +nav('header__top-nav', 'header__top-nav-list')
          +navItem('header__top-nav-item', 'О компании', '/',
          'link-primary',
          'link-primary_theme_secondary',
          'header__top-nav-link'
          )
          +navItem('header__top-nav-item', 'Гарантия и возврат', '/',
          'link-primary',
          'link-primary_theme_secondary',
          'header__top-nav-link'
          )
          +navItem('header__top-nav-item', 'Корпоративным клиентам', '/',
          'link-primary',
          'link-primary_theme_secondary',
          'header__top-nav-link'
          )
          +navItem('header__top-nav-item', 'Дизайн-решение', '/',
          'link-primary',
          'link-primary_theme_secondary',
          'header__top-nav-link'
          )

  .header__laptop
    .container.header__laptop-container
      .header__laptop-content
        +nav('header__laptop-nav', 'header__laptop-nav-list')
          +navItem('header__laptop-nav-item', 'О компании', '/',
          'link-primary',
          'link-primary_theme_secondary',
          'header__laptop-nav-link'
          )
          +navItem('header__laptop-nav-item', 'Гарантия и возврат', '/',
          'link-primary',
          'link-primary_theme_secondary',
          'header__laptop-nav-link'
          )
          +navItem('header__laptop-nav-item', 'Корпоративным клиентам', '/',
          'link-primary',
          'link-primary_theme_secondary',
          'header__laptop-nav-link'
          )
          +navItem('header__laptop-nav-item', 'Дизайн-решение', '/',
          'link-primary',
          'link-primary_theme_secondary',
          'header__laptop-nav-link'
          )
        +menu('header__laptop-menu')

  .header__middle
    .container.header__middle-container
      .header__middle-content
        #burger.burger.header__middle-burger.toggle
          button#burger-btn.btn.burger__btn.header__middle-burger-btn
            span.burger__btn-stick
          .burger__content.header__middle-burger-content
            .container.burger__content-container
              +nav('header__middle-nav-burger', 'header__middle-nav-list')
                +navItem('header__middle-nav-item', 'Каталог', 'catalog.html',
                  'link-primary',
                  'link-primary_theme_primary',
                  'header__middle-nav-link'
                )
                +navItem('header__middle-nav-item', 'Магазины', '/',
                  'link-primary',
                  'link-primary_theme_primary',
                  'header__middle-nav-link'
                )
                +navItem('header__middle-nav-item', 'Шоу-рум', '/',
                  'link-primary',
                  'link-primary_theme_primary',
                  'header__middle-nav-link'
                )
                +navItem('header__middle-nav-item', 'Доставка и оплата', '/',
                  'link-primary',
                  'link-primary_theme_primary',
                  'header__middle-nav-link'
                )
                +navItem('header__middle-nav-item', 'Дисконт', '/',
                  'link-primary',
                  'link-primary_theme_primary',
                  'header__middle-nav-link'
                )
                +navItem('header__middle-nav-item', 'Контакты', '/',
                  'link-primary',
                  'link-primary_theme_primary',
                  'header__middle-nav-link'
                )
            .container.header__middle-burger-mobile-container
              +nav('header__laptop-nav-burger', 'header__laptop-nav-list')
                +navItem('header__laptop-nav-item', 'О компании', '/',
                'link-primary',
                'link-primary_theme_secondary',
                'header__laptop-nav-link'
                )
                +navItem('header__laptop-nav-item', 'Гарантия и возврат', '/',
                'link-primary',
                'link-primary_theme_secondary',
                'header__laptop-nav-link'
                )
                +navItem('header__laptop-nav-item', 'Корпоративным клиентам', '/',
                'link-primary',
                'link-primary_theme_secondary',
                'header__laptop-nav-link'
                )
                +navItem('header__laptop-nav-item', 'Дизайн-решение', '/',
                'link-primary',
                'link-primary_theme_secondary',
                'header__laptop-nav-link'
                )

        +logo('header__middle-logo')

        +menu('header__middle-menu')

        +nav('header__middle-nav', 'header__middle-nav-list')
          +navItem('header__middle-nav-item', 'Каталог', 'catalog.html',
            'link-primary',
            'link-primary_theme_primary',
            'header__middle-nav-link'
          )
          +navItem('header__middle-nav-item', 'Магазины', '/',
            'link-primary',
            'link-primary_theme_primary',
            'header__middle-nav-link'
          )
          +navItem('header__middle-nav-item', 'Шоу-рум', '/',
            'link-primary',
            'link-primary_theme_primary',
            'header__middle-nav-link'
          )
          +navItem('header__middle-nav-item', 'Доставка и оплата', '/',
            'link-primary',
            'link-primary_theme_primary',
            'header__middle-nav-link'
          )
          +navItem('header__middle-nav-item', 'Дисконт', '/',
            'link-primary',
            'link-primary_theme_primary',
            'header__middle-nav-link'
          )
          +navItem('header__middle-nav-item', 'Контакты', '/',
            'link-primary',
            'link-primary_theme_primary',
            'header__middle-nav-link'
          )
  .header__bottom
    .container.header__bottom-container
      .header__bottom-content
        .search.header__bottom-search
          .search__input-grup.header__bottom-search-grup
            input.input.search__input.header__bottom-search-input(placeholder= 'Я хочу купить...')
            svg.search__input-glass(aria-hidden='true' width='16' height='16' viewBox='0 0 16 16')
              use(xlink:href='#search-glass')
            button.btn.icon.search__input-submit
              svg.icon__arrow.search__input-submit-svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                circle(cx='16' cy='16' r='15' stroke-width='2')
                path(d='M14 11L19 16L14 21' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          .toggle.header__bottom-category
            button.btn.toggle__btn.header__bottom-category-btn Категория
              svg.toggle__svg(aria-hidden='true' width='12' height='8' viewBox='0 0 12 8')
                use(xlink:href='#select-arrow')
            .toggle__content.header__bottom-category-content
              +nav('header__bottom-nav', 'header__bottom-nav-list')
                +navItem('header__bottom-nav-item', 'Диваны', '/catalog.html',
                  'link-primary',
                  'link-primary_theme_primary',
                  'header__bottom-nav-link'
                )
                +navItem('header__bottom-nav-item', 'Комоды', '/catalog.html',
                  'link-primary',
                  'link-primary_theme_primary',
                  'header__bottom-nav-link'
                )
                +navItem('header__bottom-nav-item', 'Кресла', '/catalog.html',
                  'link-primary',
                  'link-primary_theme_primary',
                  'header__bottom-nav-link'
                )
                +navItem('header__bottom-nav-item', 'Стулья', '/catalog.html',
                  'link-primary',
                  'link-primary_theme_primary',
                  'header__bottom-nav-link'
                )
                +navItem('header__bottom-nav-item', 'Пуфы', '/catalog.html',
                  'link-primary',
                  'link-primary_theme_primary',
                  'header__bottom-nav-link'
                )
                +navItem('header__bottom-nav-item', 'Столы', '/catalog.html',
                  'link-primary',
                  'link-primary_theme_primary',
                  'header__bottom-nav-link'
                )
                +navItem('header__bottom-nav-item', 'Кровати', '/catalog.html',
                  'link-primary',
                  'link-primary_theme_primary',
                  'header__bottom-nav-link'
                )
                +navItem('header__bottom-nav-item', 'Аксессуары', '/catalog.html',
                  'link-primary',
                  'link-primary_theme_primary',
                  'header__bottom-nav-link'
                )
                +navItem('header__bottom-nav-item', 'Тумбы', '/catalog.html',
                  'link-primary',
                  'link-primary_theme_primary',
                  'header__bottom-nav-link'
                )
        +menu('header__bottom-menu')
