@media (max-width: $sm-table-width) {
  .banner {
    &__container-mobile {
      display: flex;
      justify-content: center;
    }

    &__background {
      align-items: flex-start;
      min-height: 210px;
      background-image: url('@img/banner/banner_320.jpg');
      margin-bottom: 32px;
    }

    &__content {
      max-width: 187px;
      min-height: 86px;
      padding-top: 32px;
    }

    &__title {
      font-size: pxToRem(16px);
      line-height: pxToRem(19px);
      &-accent {
        font-size: pxToRem(24px);
        line-height: pxToRem(28px);
      }
    }

    &__btn {
      display: none;
      &-mobile {
        padding: 16px 84px;
      }
    }
  }
}