// phones, 992px and down
@media (max-width: $table-width) {
  .banner {

    &__background {
      background-image: url('@img/banner/banner_768.jpg');
    }

    &__container {
      padding-left: 36px;
      padding-right: 36px;
    }
  }
}