.banner {
  &__container-mobile {
    display: none;
  }

  &__background {
    display: flex;
    align-items: center;
    min-height: 600px;
    width: 100%;
    background-image: url('@img/banner/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
  }

  &__content {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 590px;
    padding-top: 3px;
  }

  &__title {
    font-size: pxToRem(48px);
    line-height: pxToRem(58px);
    font-weight: 500;
    color: $white-color;
    // margin-bottom: 44px;
    &-accent {
      font-family: 'Playfair Display Black';
      font-weight: 900;
      font-size: pxToRem(60px);
      line-height: pxToRem(72px);
      color: $gold-color;
    }
  }

  &__btn {
    padding: 17px 30px;
    align-self: self-start;
  }
}