// phones, 1200 and down
@media (max-width: $desktop-width) {
  .useful {
    &__slider {
      &-slide {
        max-width: calc(100% / 3 - 21.1px);
      }
    }
    &__card {
      min-height: 456px;
      &-desc {
        font-size: pxToRem(16px);
        line-height: pxToRem(22px);
      }
    }
  }
}