.useful {
  padding-bottom: 70px;
  &__content {
    position: relative;
  }
  &__title {
    margin-bottom: 25px;
  }
  &__slider {
    &-slide {
      max-width: calc(50% - 16px);
    }
  }
  &__card {
    flex-direction: column;
    min-height: 676px;
    &-image {
      &-wrapper {
        padding-bottom: 30px;
      }
    }
    &-desc {
      font-size: pxToRem(24px);
      line-height: pxToRem(33px);
      margin-top: 0;
      margin-bottom: 30px;
    }
    &-btn {
      align-self: flex-start;
      padding: 14px 34px;
    }
  }
}
