.nav {
  &__list {
    display: flex;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style: none;
  }

  &-slide {
    position: absolute;
    right: 0;
    top: 0;
    &__prev {
      margin-right: 13px;
      transform: rotate(180deg);
    }
    &__next {
    }
  }
}
