.breadcrumbs {
  &__nav {
    padding-top: 20px;
    padding-bottom: 30px;
    &-item {
      align-items: center;
      &:not(:last-child) {
        &::after {
          content: '/';
          color: $gray-color;
          font-size: pxToRem(14px);
          margin-left: 7px;
          margin-right: 2px;
        }
      }
    }
    &-link-last {
      display: inline-block;
      color: $primary-color;
      font-size: pxToRem(14px);
      line-height: 1;
    }
  }
}