// phones, 600px and down
@media (max-width: $sm-table-width) {
  .top-category {
    &__title {
      margin-bottom: 28px;
    }
    &__grid {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 16px;
      &-item {
        min-height: 206px;
        &:first-child {
          min-height: 206px;
        }
        & .card__header {
          padding: 27px 30px 13px;
        }
        &:not(:first-child) .card  {
          & .card__image-wrapper {
            padding-top: 0;
          }
          & .card__header {
            padding: 15px 16px 15px;
            & .nav {
              margin-bottom: 8px;
              & .nav__list {
                flex-direction: column;
                & .nav__item {
                  margin-right: 0;
                  & .nav__link  {
                   font-size: pxToRem(10px);
                 }
                }
              }
            }
            & .card__title {
              font-size: pxToRem(16px);
              line-height: pxToRem(17px);
            }
          }
        }
        &:nth-child(2) {
          min-height: 206px;
        }
      }
    }
    &__card {
      &-title {
        &-main {
          display: none;
        }
        &-link {
          display: flex;
        }
      }
    }
    &__content-wrapper {
      display: none;
    }
    &__image-wrapper {
      padding-bottom: 16px;
    }
    &__nav {
      &-item {
        display: inline-flex;
        &:not(:last-child) {
          margin-right: 20px;
        }
        &:nth-child(2n - 1) {
          margin-bottom: 4px;
        }
      }
    }
  }
}