.top-category {
  padding-top: 70px;
  padding-bottom: 70px;

  &__title {
    margin-bottom: 26px;
  }

  &__card {
    min-height: auto;
    height: 100%;
    &-title {
      &-link {
        display: none;
        align-items: center;
      }
      &-svg {
        margin-left: 6px;
        min-width: 22px;
        min-height: 22px;
      }
    }
  }

  &__nav {
    margin-bottom: 14px;
    &-list {
      flex-wrap: wrap;
    }
    &-item:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__image {
    &-wrapper {
      justify-content: flex-start;
      min-height: auto;
      padding-bottom: 0;
    }
  }

  &__content-wrapper {
    justify-content: flex-end;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 32px;

    &-item {
      min-height: 405px;
      &:nth-child(1) {
        grid-column: 1 / 4;
        min-height: 511px;
      }
      &:nth-child(2) {
        grid-column: 4 / 7;
        min-height: 511px;
      }
      &:nth-child(3) {
        grid-column: 1 / 3;
      }
      &:nth-child(4) {
        grid-column: 3 / 5;
      }
      &:nth-child(5) {
        grid-column: 5 / 7;
      }
    }
  }
}