// phones, 992px and down
@media (max-width: $table-width) {
  .top-category {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
      &-item {
        min-height: 511px;
        &:nth-child(1) {
          grid-row: 1;
          grid-column: 1 / 3;
        }
        &:nth-child(2) {
          grid-row: 2;
          grid-column: 2 / 3;
        }
        &:nth-child(3) {
          grid-row: 2;
          grid-column: 1 / 2;
        }
        &:nth-child(4) {
          grid-column: 1 / 2;
        }
        &:nth-child(5) {
          grid-column: 2 / 3;
        }
      }
    }
  }
}