// phones, 1200 and down
@media (max-width: $desktop-width) {
  .top-category {
    &__grid {
      grid-template-columns: repeat(3, 1fr);
      &-item {
        &:not(:first-child) .card .card__image-wrapper {
          padding-top: 5px;
        }

        &:nth-child(1) {
          grid-column: 1 / 3;
        }
        &:nth-child(2) {
          grid-row: 2;
          grid-column: 2 / 3;
        }
        &:nth-child(3) {
          grid-row: 1;
          grid-column: 3 / 4;
        }
        &:nth-child(4) {
          grid-column: 1 / 2;
        }
        &:nth-child(5) {
          grid-column: 3 / 4;
        }
      }
    }
  }
}